[2014-12-14 01:33] rossPatton opened #1 "Hashes trigger unnecessary colon warning"
Colons are necessary in hashes and shouldn't set off a warning

[2014-12-14 01:34] rossPatton opened #2 "Linter is linting comments"
Warnings should not be triggered by comments, unless the warning specifically deals with comments (see the no space after line comments warning).

[2014-12-15 06:21] #2 closed, assigned to nobody

[2014-12-15 06:21] #1 closed, assigned to nobody

[2014-12-15 06:35] rossPatton opened #3 "Watch apparently crashes when no filename or dir passed in"

[2014-12-15 09:07] rossPatton opened #4 "check for mixed spaces and tabs"

[2014-12-15 09:08] rossPatton opened #5 "check for trailing whitespace"

[2014-12-15 09:08] rossPatton opened #6 "check for alphabetical ordering of properties"

[2014-12-15 09:08] rossPatton opened #7 "check for duplicate properties / selectors"

[2014-12-15 09:09] rossPatton opened #8 "check for valid css attributes / properties"
this should also function like a reserved word list, preventing you from setting var names like padding or margin

[2014-12-15 09:09] rossPatton opened #9 "allow configurable indent level and check for it"

[2014-12-15 09:10] rossPatton opened #10 "encorce names-like-this or namesLikeThis in the config"

[2014-12-17 00:26] rossPatton opened #11 "var declarations inside functions throw false positives"
example:

[code]

should throw a $ is need error, which is correct

[code]

should resolve the error, but does not

[2014-12-17 00:27] rossPatton opened #12 "border 0 is preferred over border none"

[2014-12-17 08:41] #12 closed, assigned to nobody

[2014-12-17 08:41] #11 closed, assigned to nobody

[2014-12-17 08:41] #3 closed, assigned to nobody

[2014-12-17 08:41] #5 closed, assigned to nobody

[2014-12-17 18:25] rossPatton opened #13 "Make Documentation Pretty"

[2014-12-17 19:39] rossPatton opened #14 "$ before var checker is throwing false positives when vars used inside if blocks"

[2014-12-19 21:40] rossPatton opened #15 "efficient check no longer working?"

[2014-12-19 21:40] rossPatton opened #16 "write tests! write tests! write tests!"

[2014-12-22 02:35] #15 closed, assigned to nobody

[2014-12-22 02:35] #14 closed, assigned to nobody

[2014-12-22 02:35] #9 closed, assigned to nobody

[2014-12-22 03:13] #13 closed, assigned to nobody

[2014-12-22 03:14] rossPatton opened #17 "mixinSpace should eventually just be parenSpace"
the space check should extend to if blocks or really anywhere where ( ) is used

[2014-12-22 03:15] rossPatton opened #18 "$var checker should work in blocks or mixins"
in order to make this work will need to get valid working, then check against that.

[2014-12-24 06:23] rossPatton opened #19 "async all the things"
ive been sloppy

[2014-12-26 21:10] #4 closed, assigned to nobody

[2014-12-26 21:10] #17 closed, assigned to nobody

[2014-12-26 21:11] rossPatton opened #20 "check for unnecessary brackets"
prohibit use of brackets outside of hashes ( or force them, i guess )

[2014-12-26 23:37] #20 closed, assigned to nobody

[2014-12-27 01:52] #10 closed, assigned to nobody

[2014-12-28 08:41] rossPatton opened #21 "z-indexr"
parse stylus and recommend new z-index values using a configurable base unit

1, 5, 10, whatever

[2014-12-30 02:25] rossPatton opened #22 "bracket check shouldnt trigger when interpolated vars used"

[2015-01-02 09:19] #22 closed

[2015-01-02 09:19] #19 closed

[2015-01-02 09:22] rossPatton opened #23 "mixed spaces and tabs seems too sensitive"

[2015-01-02 09:22] rossPatton opened #24 "naming convention checker is too sensitive"

[2015-01-07 19:31] rossPatton opened #25 "Leading Zero check throwing false positives"
width 40.9473684211%

should be considered valid

[2015-01-08 07:56] #25 closed

[2015-01-08 07:56] #24 closed

[2015-01-08 07:56] #23 closed

[2015-01-18 20:18] #16 closed

[2015-01-18 20:19] #8 closed

[2015-01-25 05:52] #6 closed

[2015-01-25 05:52] #7 closed

[2015-01-25 05:52] #18 closed

[2015-01-25 05:52] #21 closed

[2015-01-26 14:58] PalleZingmark opened #27 "duplicateCheck looks buggy"
Hi,
It seems like *duplicateCheck* is a bit buggy.

I get a warning for the following code:
[code]

Setting it to false has no effect either, same warning regardless of settings.
[code]

[2015-01-26 16:55] rossPatton commented on #27
Hey @PalleZingmark thanks for pointing this out.

So, really we got 2 issues here. Duplicates can't toggle and the actual check itself isn't working as intended.

Don't have a lot of time right now, so I just pushed up a quick fix for the toggle issue: if you update to the latest stylint you should be able to toggle duplicates off.

I'll take a longer look at false positives problem prolly tonight

[2015-01-26 22:46] PalleZingmark commented on #27
Thank you, toggling duplicates is now working as intended. :+1:

[2015-01-27 00:17] rossPatton opened #28 "Alphabetical Check throwing false positives"
really should have tested this better

alphabetical check works... but it should be able to distinguish blocks, extends, and mixins. As in, it shouldn't throw errors if mixins aren't alphabetically sorted with properties

[2015-01-27 06:33] rossPatton commented on #27
Hey, i wasn't able to replicate your issue, but I was able to make a few improvements to duplicates. I'd get the latest and see if they resolve your issue maybe?

I'm gonna close this issue out, i'll reopen if I can replicate the issue.

[2015-01-27 06:35] rossPatton commented on #28
0.8.3 should resolve most of this

[2015-01-27 07:26] PalleZingmark commented on #27
No, unfortunately it does not solve my issue.

I did some further tests, and while this throws a warning:
´´´css
.foo {
  .bar {
    color: red;
  }
}
´´´
This does not:
´´´css
.foo {
  .bar {
    color: red;
  }}
´´´

[2015-01-27 07:39] PalleZingmark opened #29 "´stylint -v´ returns my app version, not Stylint module version"
This is a minor issue, but I just want you to know about it. :)

I'm running Stylint local (using Gulp) instead of global, and when I'm doing a versions check I get the version of my app instead of the version of Stylint.

[2015-01-27 08:06] PalleZingmark opened #30 "Feature request: Add support for ´namingConvention: BEM´"
Would be great if there were to be support for BEM as a naming convention in Stylint.

[code]
Pattern source https://github.com/causes/scss-lint/issues/254#issuecomment-59002801

[2015-01-27 17:07] rossPatton commented on #29
haha, whoops

easy one to fix

[2015-01-27 20:55] PalleZingmark opened #32 "universal is too sensitive"
This throws a warning:
[code]
This does not:
[code]

[2015-01-28 06:03] rossPatton commented on #30
closing since i merged in your PR

[2015-01-28 06:04] #30 closed

[2015-01-28 06:33] rossPatton commented on #29
closing, issue fixed as of 0.8.5

[2015-01-28 06:33] #29 closed

[2015-01-28 06:34] rossPatton commented on #32
should be less sensitive now. it should only trigger warnings when * is used as a property, not as a value

[2015-01-28 06:34] #32 closed

[2015-01-28 06:35] rossPatton commented on #27
So, i still couldn't replicate this. Maybe post your config? Are you using tabs or spaces for indenting?

[2015-01-28 06:37] rossPatton opened #33 "speed up start up time"
now that we're pulling in 39 modules, there is a small but noticeable delay before the linter runs

[2015-01-28 08:24] PalleZingmark commented on #27
stylint-test.styl
[code]

.stylintrc
[code]

hmm, I can see some strange behavior.

If I just lint **stylint-test.styl** by itself, using the config above - it passes.
But if I @import it into my project - it fails.

I have no other classes named **.foo** or **.foo-bar** in my project, so it shouldn't throw a warning.

[2015-02-02 03:44] rossPatton commented on #27
@PalleZingmark hey so, i was eventually able to replicate the issue and hopefully 0.8.8 fixes it.

Let me know!

[2015-02-02 03:44] rossPatton commented on #28
closing as of 0.8.8

[2015-02-02 03:44] #28 closed

[2015-02-04 03:29] lin-hun commented on #27
.....in 0.8.8,i set duplicates as true.but didnt throw a warning
my test code:
[code]

[2015-02-04 07:00] rossPatton commented on #27
@lin-hun thx for reporting: was able to duplicate, try upgrading to 0.8.9 and see if that fixes it.

[2015-02-04 07:10] rossPatton opened #34 "jscs style config"
now that features are finally being ironed out a bit, we need to allow for a wider range of config options for a lot of the checks

example: instead of semicolons: bool, it should be semicolons: 'always', 'never', false

where:
'always' === force use of semicolons
'never' === force absence of semicolons
false === don't check for this

[2015-02-04 08:27] lin-hun commented on #27
=w= duplicates works well

[2015-02-05 18:24] rossPatton commented on #27
+1 cool, gonna close this now

[2015-02-05 18:25] #27 closed

[2015-02-20 15:29] awayken opened #35 "Warns "Warning: property is not valid" for `@require` statements"
When the "valid" flag is set to true, `@require` statements are warned as being invalid properties. To recreate the issue, create the following files and run the command at the bottom.

base.styl
[code]

site.styl
[code]

config.json
[code]

Then execute this:
[code]

[2015-02-20 15:36] awayken opened #36 "Warns "Warning: duplicate property or selector, consider merging" for `@require` statements"
When the "duplicates" flag is set to true, multiple `@require` statements are warned as being duplicates even if they require different stylus files. To recreate the issue, create the following files and run the command at the bottom.

base.styl
[code]

otherfile.styl
[code]

site.styl
[code]

config.json
[code]

Then execute this:
[code]

[2015-02-20 18:22] rossPatton commented on #35
thanks for filing these, i have a feeling both of these have the same root cause. will take a look this weekend.

[2015-02-21 08:02] rossPatton commented on #35
this should be fixed in the latest version, 0.8.12

[2015-02-21 08:02] rossPatton commented on #36
this should be fixed in the latest version, 0.8.12

[2015-02-21 08:02] #35 closed

[2015-02-21 08:02] #36 closed

[2015-02-21 08:04] rossPatton opened #37 "Grunt Wrapper"
create an easy to use wrapper for grunt

[2015-02-21 08:04] rossPatton opened #38 "Gulp Wrapper"
create an easy to use (pipable) wrapper for gulp

[2015-02-24 23:15] rossPatton opened #39 "remove lockdown"
seriously fucked this up -> remove lockdown

[2015-02-25 01:13] #39 closed

[2015-03-04 08:13] jwilsson commented on #38
Hi!
Just wanted to let you know that I'd be more than happy to help out with a Gulp plugin.

Let me know how you want to approach it, if you want to do something or just leave it to me :wink:

[2015-03-04 18:28] himedlooff commented on #34
Agreed. Seems weird to have a rule that forces no semicolons, but no option to enforce semicolons.

[2015-03-04 19:17] rossPatton commented on #38
Hey man,

I'm pretty swamped lately so I haven't had much time to work on stylint.

So, just do whatever you want here, thanks!

Just let me know if there's anything I can help you with.

[2015-03-05 08:49] jwilsson commented on #38
Alright, awesome!

I'll see if I get something up and running this weekend.

[2015-03-05 15:29] awayken opened #41 "Missing documentation for "placeholders" config option"
I can't tell what the placeholders option does. Looking at the code, the placeholder.js file almost looks like a duplicate of an old version of the extends.js check. There is also no explanation of the placeholders config option in the README.md.

[2015-03-05 16:26] awayken opened #43 "Interpolation confuses namingConvention setting sometimes"
I've mostly tested this with the "lowercase-dash" setting of the namingConvention configuration, but I think other settings are affected, too.

This is a frankly bizarre case, probably something to do with a regular expression, but it just so happens to be a pattern that I use over and over in my Stylus files. Hopefully I've provided enough examples here to help you debug it.

lowercase-dash.styl

[2015-03-05 18:26] rossPatton commented on #41
The placeholders options enforces use of `$placeholderVars` when using `@extend`

For example, the below would be bad:

[code]

Where as the below would be good:

[code]

[2015-03-05 18:26] rossPatton commented on #41
That said, i'll update the readMe tonight with this information

[2015-03-05 18:31] awayken commented on #41
I understand. It's an enforcement of the guideline of never extending a selector directly but instead extending other variables. That makes sense.

[2015-03-05 18:31] rossPatton commented on #43
Thanks for the super in-depth examples, I'll take a look at it tonight

[2015-03-05 18:32] rossPatton commented on #41
Yep!

[2015-03-06 06:56] rossPatton commented on #41
this has been pushed up, will go out in the next release

[2015-03-06 08:33] rossPatton commented on #43
Hey, so, i've pushed some changes up. Can you pull and lemme and play with them a bit? I think i've covered all the examples listed here but you might be able to find some edge cases I can't.

Thanks!

[2015-03-06 18:30] awayken commented on #43
@rossPatton: It looks like master is where your latest commits are, is that right? How do you recommend I test the updates? Check out the project and run `node index.js` in place of `stylint`?

[2015-03-06 18:43] rossPatton commented on #43
yep, that should work

[2015-03-06 19:03] awayken commented on #43
Almost all the cases where I had issues are now working. Awesome!

However, there is one case where I still have issues:

[code]

[2015-03-06 19:12] rossPatton commented on #43
I'll take a look at this case probably tomorrow, and hopefully get it up on npm this weekend. Thanks for testing!

[2015-03-06 19:17] awayken commented on #43
I'm happy to help. I've been craving a tool like this ever since I started using Stylus, so I'll do whatever I can to help make it robust.

[2015-03-08 12:52] danielhusar commented on #38
Hey I can create gulp task if nobody has started working on it yet.

[2015-03-08 20:15] jwilsson commented on #38
@danielhusar I'm afraid I haven't had the time (and it looks like it will be a while before I will, some things came up) so from my point feel free to take it :)

[2015-03-09 02:38] rossPatton commented on #43
However you want to contribute is fine by me, in-depth bug reporting like this in particular is very helpful, but if you have any other ways you can contribute i'm open to collaboration.

Regarding this current bug: if you could pull down my latest, that one last case should be resolved. If you wanna double check that for me that'd be great.

[2015-03-09 10:53] danielhusar commented on #38
Cool :)

I have created one: https://github.com/danielhusar/gulp-stylint
Let me know if you have any improvements or issues there :)

[2015-03-09 14:12] awayken commented on #43
@rossPatton: My test file is still not passing.

How do I got about running the test suites myself? I ran npm install and then npm test, but I don't have a module called "istanbul" installed. Is that something that should be listed as a devDependency? If I install `npm install -g istanbul`, is there anything else I need to install to run tests?

[2015-03-09 16:40] rossPatton commented on #43
@awayken Huh, really? After pulling the latest? All my tests are passing, and that includes your last example. Maybe I botched my unit tests?

If you want, you're welcome to fork this and make changes. And yeah, istanbul needs to be installed, and should probably be listed as a dev dependency. Istanbul is what I use with mocha to generate code coverage reports. That should be all you need. Then ju

[2015-03-09 16:41] rossPatton commented on #38
@danielhusar Awesome! Thanks man! Can't wait to check it out.

[2015-03-09 21:02] danielhusar commented on #38
I can add you to collaborators if you want to :) So you can bump dependencies in future.

[2015-03-09 21:13] rossPatton commented on #38
@danielhusar Sure

[2015-03-10 17:10] awayken commented on #43
@rossPatton: Yeah, I pulled the latest. I do see some areas where the unit tests might not be quite right.

Like line 722:
[code]

I feel it should be:
[code]

Because CSS class names don't need to follow the rules of the Stylus variable naming convention. At least, that's the way I'd like to see it.

Relevant to the issue I'm still having above, I saw this line (729), which also looks like it sho

[2015-03-10 17:27] rossPatton commented on #43
Hey, thanks for continuing to look at this. I'm at work right now, but i'll take another look tonight.

As far as my development environment goes, i'm on a mac, usually running node but i have run iojs before with no issues. Mocha/Chai/Sinon/Istanbul for testing. What errors are you getting?

[2015-03-10 21:39] awayken commented on #43
My issue seems to point back to the _mocha call. Google has not been a ton of help so far. What I've found seems to suggest that it might be a Windows thing. (Lucky me...)

[code]

[2015-03-11 05:20] rossPatton commented on #43
@awayken  have you tried just running mocha directly ?

[2015-03-11 05:23] rossPatton commented on #43
@awayken regarding the two tests you've pulled out, I actually do think that classes and ids and such should follow the same naming convention as variables. And for cases where you don't have control over the class (ads, 3rd party tools), i'd recommend using the `@stylint off` to keep it from throwing warnings.

I admit this could get cumbersome if you have a lot of these kind of classes.

[2015-03-11 18:31] awayken commented on #43
@rossPatton I can think of situations where one would want to enforce Stylus requirements but not those same rules on things like CSS classes and IDs. I might use Bootstrap to do my layout styling, BEM to define blocks of custom CSS and lowercase-underscore for my actual Stylus naming conventions. It would be inconsistent, but Bootstrap is a third-party system which I can't control, and my head is

[2015-03-11 18:31] #43 closed

[2015-03-12 04:14] rossPatton opened #44 "namingConvention strictness level ?"
this was brought up in another issue, that you won't always have full control over class names or ids.

in this case, namingConvention will throw lots of warnings at you that are out of your control

we could create a config settings that allows to toggle the breadth of the namingConvention option.

if `namingConventionStrict: true` is set, then namingConvention will target classes and ids as well

[2015-03-12 04:14] rossPatton commented on #44
@awayken

[2015-03-12 17:49] awayken commented on #44
:+1: I like this proposal.

If someone is using their own personal rules for CSS classes and IDs but still wants to enforce a naming convention on their Stylus variables, they can set this to "false." If they want all CSS and Stylus to be enforced the same way, they can set this to "true." And if they want strict enforcement but have a spot or two where they're dealing with third party conventions

[2015-03-13 16:16] awayken opened #45 "Asterisk in `content` property generates warning about universal selector"
When the `universal: true` flag is set, asterisks in content of a content property throw a false warning.

universal.styl
[code]

universal.json
[code]

Result:
[code]

This warning occurs even if the asterisk is not the only content, for instance `content: "Required*"`.

[2015-03-13 16:42] awayken opened #46 "Line breaks in complex selectors using `&` warn of invalid property"
I use the `&` (parent reference) in Stylus nesting to simplify my CSS naming convention. When creating complex selectors (like styling hyperlinks for :link, :visited, :active, etc.) and using the parent reference, AND using line breaks, Stylint warns of an invalid property when `valid: true`.

property.styl
[code]

property.json
[code]

Warning:
[code]

[2015-03-13 18:32] rossPatton commented on #45
should be an easy case to fix

[2015-03-13 19:44] awayken opened #47 "Quotation style enforcement?"
A feature that I like from JSHint is the ability to enforce quotation types. I try to enforce double quotes in my CSS/Stylus and single quotes in my JavaScript. Is that something others would find valuable in Stylint?

That said, it looks like JSHint is moving away from enforcing this rule altogether: http://jshint.com/docs/options/#quotmark

[2015-03-13 20:23] rossPatton commented on #47
Yeah, it looks like jshint is letting jscs handle issues of code style in the future.

Personally, I see stylint as being a linter for both code correctness and code style, so a rule for enforcing quotation marks makes sense to me.

[2015-03-13 20:28] awayken opened #49 "Setting variable to a font stack can throw false namingConvention warning"
When using a variable to define a font stack, the way the fonts are named in the list can throw false namingConvention warnings.

fontname.styl
[code]

fontname.json
[code]

Results:
[code]

If I change the namingConvention to `lowercase_underscore` and change my variable name to `$font_stack`, every line throws a warning. I haven't tested the other namingConvention settings.

[2015-03-13 20:49] awayken opened #50 "Lowercased names throw false warning for several namingConventions"
Stylint currently throws a warning if your name is simply lowercased. I've seen this issue whether you use `camelCase`, `lowercase_underscore` or `lowercase-dash` as your namingConvention.

shorties.styl
[code]

shorties.json
[code]

Output:
[code]

Notice that the error throws on the variable `$color` and the class in the selector. I know namingConvention enforces rules on both.

[2015-03-13 20:58] awayken commented on #49
This might be related. In the following file, I get the same namingConvention issue but I'm setting a tuple instead of a font stack. Rather than make another issue, I'm including it here. Let me know if you'd like this broken out.

fontfaces.styl
[code]

Output:
[code]

[2015-03-15 23:58] #38 closed

[2015-03-15 23:59] #41 closed

[2015-03-16 00:16] rossPatton commented on #49
not fully sure how to tackle this one without knowing the context of where a variable is used, and that would require a lot of changes to stylint. var/class/id names can be anything, and font names can be anything.

just use the `@stylint off` toggle? in my experience, seeing up your font stack is usually just done once, in one place and then used everywhere

[2015-03-16 00:16] rossPatton commented on #46
im gonna push up a potential fix for this soon

[2015-03-16 00:16] rossPatton commented on #45
pushing up a fix soon

[2015-03-16 00:17] rossPatton commented on #50
fix incoming

[2015-03-16 03:00] rossPatton commented on #50
alright, @awayken could you please pull the latest and double check that my fix is working as intended?

[2015-03-16 03:01] rossPatton commented on #47
if you pull the latest, this feature should be available now, could use some testing

[2015-03-16 03:02] rossPatton commented on #46
this is up now, if you pull the latest

[2015-03-16 15:23] awayken commented on #45
Looks like the latest pull fixed this issue. Thanks!

[2015-03-16 15:23] #45 closed

[2015-03-16 15:28] awayken commented on #50
It looks like this is fixed in my latest pull. Short names worked for all four naming conventions. Thanks!

[2015-03-16 15:28] #50 closed

[2015-03-16 15:30] awayken commented on #46
It looks like this is fixed in the latest pull. Thanks!

[2015-03-16 15:30] #46 closed

[2015-03-16 15:46] awayken commented on #49
The project I've been running Stylint against only has two places where I've run into this issue, so I'm willing to use the toggle technique. If I start to run into this more frequently, I might reopen this comment to further the discussion.

Thanks for looking into it!

[2015-03-16 15:46] #49 closed

[2015-03-16 16:28] awayken commented on #47
Leave it to me to find some edge cases. :wink:

I found some inconsistency when checking quotes in selectors. Hopefully the example below makes the issue clear.

quotes.styl
[code]

quotes.json
[code]

Output:
[code]

[2015-03-16 16:32] awayken commented on #47
There seems to be a problem checking for quote preference when setting argument defaults. If I specify `quotePref: "single"`, the following still passes:

[code]

[2015-03-16 23:38] uglow opened #52 ""pointer-events" property is not considered valid"
I get a warning when using the `pointer-events` property in CSS class:

[code]

Config:
[code]

Output:
[code]

[2015-03-17 00:06] rossPatton commented on #52
thanks! this is an easy fix, i'll update this thread when it's out

[2015-03-17 09:29] justsee opened #54 "Valid attribute selectors flagged as invalid properties"
It seems [attribute presence and value selectors](http://www.w3.org/TR/css3-selectors/#attribute-representation) are being flagged as invalid properties. For instance:

[code]
when run through `stylint` generates:

[code]

[2015-03-17 15:56] awayken opened #55 "Unicode emoji in "done" logs render as empty boxes on Windows"
I honestly had no idea that you *nix users get a :+1: when things are all clear. On Windows, there's just an empty box.

This is what I see on Windows:
![image](https://cloud.githubusercontent.com/assets/156215/6690742/4640fe5a-cc90-11e4-9954-df430616436c.png)

I'll submit a pull request that I think can address this, although I'm open to ideas on how to do it in a better way. I'll explain more in

[2015-03-17 16:05] awayken commented on #54
I see this, too, when `valid: true`.

I don't see any issue if I do this:
[code]

[2015-03-18 01:10] freeformsystems opened #57 "Respect exit code"
Please respect the UNIX exit code philosophy, zero on success and greater than zero on error.

It appears to me that the program always exits with zero, looking at https://github.com/rossPatton/stylint/blob/master/src/done.js it should be easy to implement with the caveat that watch mode would need to be tested to ignore calling `process.exit`.

[2015-03-18 02:07] freeformsystems commented on #55
I would suggest removing the emoji(s) completely various fonts will not render these (on UNIX) and it is quite distracting (my font (http://www.fsd.it/fonts/pragmatapro.htm) does not include these glyphs).

You could use ANSI sequences instead to differentiate success and failure.

[2015-03-18 04:15] camjc commented on #57
:+1: Am trying to put stylint in as a pre-commit hook now and this would be the preferred behavior for me.

[2015-03-18 04:21] camjc opened #58 "`duplicates: true` doesn't play nicely with listing multiple selectors on newlines without commas"
If I write
[code]

It thinks that I'm selecting foo twice.

Stylint works perfectly if I write (notice the comma after the first `foo`):
[code]

[2015-03-18 14:56] jackbrewer opened #60 "Incorrect linting of keyframe animations"
Hi, I'm seeing a few issues with Stylint and CSS animation. The `@keyframe` line, along with the `from`, `to`, or percentage value are all flagged as invalid properties.

The `0%` also flagged that it doesn't need its unit value, but in this case it does – [Codepen example](http://codepen.io/jackbrewer/pen/gbQNOq).

**keyframes.styl**
[code]

**.stylintrc**
[code]

**Output**
[code]

[2015-03-18 17:20] rossPatton commented on #57
will do, thanks for making me aware of this

[2015-03-18 17:24] rossPatton commented on #60
thanks, this should be straight forward to fix

[2015-03-19 22:19] awayken opened #61 "Duplicate warning shows inconsistently with multiple files"
I'm linting a site that's comprised of a lot of different Stylus files. One problem that I've started to notice is that the warning thrown by the `"duplicates": true` flag generates some false positives when I'm checking all my Stylus files at once. Unfortunately, this false positive behavior is inconsistent.

I use a specific pattern in nearly all my Stylus files:
[code]

Obviously, the `globalDu

[2015-03-20 00:10] rossPatton commented on #61
thanks, i'll take a look tomorrow

i plan on trying to address as many of these issues as possible over the weekend

[2015-03-20 13:46] awayken opened #62 "`-ms-interpolation-mode` property warned as invalid"
The `-ms-interpolation-mode` property is warned as being invalid. Interpolation mode is mostly used in my code to help improve IE 6 and 7 rendering of images that are scaled down. CSS-Tricks mentions it in their article [IE Fix: Bicubic Scaling for Images](https://css-tricks.com/ie-fix-bicubic-scaling-for-images/).

bicubic.styl
[code]

bicubic.json
[code]

Output:
[code]

[2015-03-20 14:08] awayken opened #63 "Validity is not properly checking rules proceeding closing curly brace"
If a line of Stylus code ends with a curly brace, the code is not properly checked for validity. I was able to specify made up properties, use invalid values and even just type text that doesn't follow CSS rules at all.

invalid.styl
[code]

invalid.json
[code]

Output:
[code]

I think an interesting testament to how crucial this project is when you look at how Stylus itself treats this same file.

[2015-03-20 23:54] rossPatton commented on #62
this will be fixed in the next update

[2015-03-21 01:22] rossPatton commented on #47
interesting that you're hitting these issues - i've test all of the cases here with all the quotePref settings and they all appear to be behaving as expected, ie, i can't replicate the issue

someone else want to test this?

[2015-03-21 02:19] rossPatton commented on #63
So, i'm able to fix it so this example works;
[code]

but i think it will take more work for this one:
[code]

Basically, valid just checks properties, not values. It sees that body is a correct value, and moves on.

I think to solve this i'd need to some checking to if a rule is a one-liner (which is bad practice imo) and if so, parse it into something that be checked against (ie, separate the pr

[2015-03-21 02:22] rossPatton commented on #63
i think the best next step would be to close this issue out, since i've made fixes based on this that willl go up soon, and create a new one around doing this one-liner check

[2015-03-21 02:23] rossPatton commented on #55
emoji / icons will be off by default in the next update

there will be an option to toggle them back on

[2015-03-21 05:03] rossPatton commented on #58
personally i would suggest always using the comma here, but i will look into this

[2015-03-21 05:07] rossPatton commented on #61
will try to get to this sunday, and then push up all the latest to npm

in the meantime, can you double check your other issues to make sure they've been resolved? i've fixed a number of bugs on the develop branc

[2015-03-21 05:48] rossPatton commented on #57
if you check out the develop branch, it should now output an error code of 1 if stylint finds any error, and 2 if you set an error limit and go over it

please verify

[2015-03-21 05:48] rossPatton commented on #61
actually, think i might have just resolved this. please check out develop and test

[2015-03-21 05:53] rossPatton commented on #54
this should be fixed on the develop branch, please verify

[2015-03-23 13:55] awayken commented on #47
@rossPatton I'm testing with version `Stylint version:  0.9.2`. If you create files and use the settings as I have them above, do you see the issue like I do?

[2015-03-23 14:03] awayken commented on #62
Tested this on develop, and it looks good!

[2015-03-23 14:03] #62 closed

[2015-03-23 14:39] awayken commented on #54
This worked for me, but I ran into another weird bug. If my `a[href]` declaration came at the top of my Stylus file, then I get the following error:

[code]

Let me know if you'd like me to create a separate bug report for this.

[2015-03-23 14:40] awayken commented on #61
I pulled develop and tested, but I'm still seeing this issue. I also had a bunch of new, but incorrect, `property is not valid` errors. Do you want me to submit a ticket for the new invalid property issues I'm finding?

[2015-03-23 15:08] awayken opened #77 "Add configuration option called `stackedProperties`"
To encourage the practice of putting each property declaration onto its own line, I think we should add a configuration option called `stackedProperties` which is default set to `true`.

When set to true, this is valid:
[code]

This is invalid:
[code]

As is this:
[code]

[2015-03-23 15:08] awayken commented on #63
The only way for a one-liner to be possible in Stylus is with a curly brace. Otherwise Stylus throws a big, nasty error. Does being able to make that assumption help with checking the single line instance?

In any case, I agree with the new configuration. I'll create an issue proposing we add that as an option.

[2015-03-23 17:14] rossPatton commented on #61
hmm, can you just post here? i would like to try and prevent regressions if i can

i was hoping to get something up to npm tonight, ideally, but it can wait

[2015-03-23 17:17] rossPatton commented on #54
hah, that makes sense, and the fix should be easy actually. i just need something like `lineNum > 0` before i do that check

[2015-03-23 17:19] rossPatton commented on #47
Yeah, i always test by running stylint against real stylus files, and then again with unit tests.

In both cases I didn't have this issue.

I'll take another look, and make sure i'm testing with 0.9.2 instead of the latest on my local, and post an update here.

[2015-03-23 17:19] rossPatton commented on #77
sounds good to me, one-liners are the worst

[2015-03-23 17:21] rossPatton commented on #63
Looking to see if `{` isn't last might make testing it possible, i'll give it a go

[2015-03-23 17:43] jackbrewer commented on #47
I'm using `master` and am seeing the same output as pasted above: only 3 warnings reported for the file, even though 5 exist.

I noticed if I add additional classes to the selectors, I can get all 5 to report warnings as expected.

[code]

Also, when using my preferred minimal syntax, all 5 warnings are reported as expected, without needing the additional classes:
[code]

Maybe something to do wit

[2015-03-23 17:46] rossPatton commented on #47
@jackbrewer i can take another look, thanks for providing more examples.

could you try pulling develop and testing against that as well?

[2015-03-23 18:00] jackbrewer commented on #47
Same output as master – 3 warning for the original stylus, full 5 warnings with the modifications from my above message. Tested on latest `develop` (d3a01bc)

[2015-03-23 18:11] awayken commented on #61
I'll try to do these in blocks to make it easier to debug. (Hopefully.)

First, did you tweak something with the `"brackets"` option? I had it set to `true` before, but I think that was a mistake on my part. However, it wasn't throwing warnings before, and it is now.

In any case, it may have not been working before and now it is. Or it was always working, and I'm insane.

[2015-03-23 18:13] awayken commented on #61
::selection Regression:

[code]

Output:
[code]

[2015-03-23 18:17] awayken commented on #61
font-face regression:

[code]

Output:
[code]

[2015-03-23 18:19] awayken commented on #61
Attribute selector regression:

[code]

Output:
[code]

[2015-03-23 18:21] awayken commented on #61
template element regression:

[code]

Output:
[code]

[2015-03-23 18:29] rossPatton commented on #61
Well, i don't think template or the attribute selector issues are regressions. I don't think template was white-listed before. Clearly I still have a lot of work to do to make all the tests bullet-proof. All of this looks very fixable though.

I think i'll just wait a bit to push again to npm, wanna make sure I fix as much of this as possible

[2015-03-23 18:29] rossPatton commented on #47
Thanks!

[2015-03-23 19:57] awayken commented on #61
I had another issue that I'm not able to isolate on its own, so I'll wait to submit that until I know more about how it works.

[2015-03-23 20:16] MyFriendBrad commented on #34
+1

This would apply to brackets and colons, right?

[2015-03-23 20:20] MyFriendBrad opened #78 "borderNone doesnt take colon into consideration"
In correlation with an enhancement ticket (https://github.com/rossPatton/stylint/issues/34), there needs to be consideration for if the user is enforcing colons or not. In the case of borderNone, its looking for "border none" not "border: none" therefore it is passing tests even if set to true.

[2015-03-23 20:56] rossPatton commented on #34
i've always aimed for this to be a potential 1.0 feature, as it might result in breaking changes

[2015-03-23 20:57] rossPatton commented on #78
very doable

[2015-03-23 21:29] MyFriendBrad commented on #34
lets get that 1.0 out the door! haha

[2015-03-24 07:24] rossPatton commented on #78
this should be fixed in 0.9.3

[2015-03-24 07:25] rossPatton commented on #60
this should be fixed in 0.9.3

[2015-03-24 07:25] rossPatton commented on #55
closing as this is available in 0.9.3

[2015-03-24 07:25] #55 closed

[2015-03-24 07:26] rossPatton commented on #57
this is in 0.9.3

[2015-03-24 07:26] #57 closed

[2015-03-24 07:26] rossPatton commented on #54
should be fixed in 0.9.3

[2015-03-24 07:26] #54 closed

[2015-03-24 07:26] rossPatton commented on #52
should be in 0.9.3

[2015-03-24 07:26] #52 closed

[2015-03-24 07:27] rossPatton commented on #44
available in 0.9.3

[2015-03-24 07:27] #44 closed

[2015-03-24 07:27] #78 closed

[2015-03-24 07:27] #60 closed

[2015-03-24 07:28] rossPatton commented on #61
these should all be fixed in 0.9.3

if not, i plan on making 0.9.4 a small build. its just the amount of issues were starting to pile up

[2015-03-24 07:28] #61 closed

[2015-03-24 13:13] awayken commented on #54
:+1: No longer throws an error when I pull develop.

[2015-03-24 13:37] awayken commented on #61
:+1: All the regressions I was able to isolate are fixed. I'll have to keep working on the one I can't quite isolate and file another ticket for it.

[2015-03-24 17:17] rossPatton commented on #61
awesome, thanks!

[2015-03-24 17:17] rossPatton commented on #54
awesome

[2015-03-25 03:09] rossPatton opened #84 "100% Code Coverage"
would require a bit of refactoring maybe, and some test cleanup, but it would be a good goal to strive towards

[2015-03-25 04:39] rossPatton opened #85 "Add options for custom reporters"
Like jshint or jscs, allow people to create and use custom reporters to style the console output as they wish.

This would probably replace the emoji toggle option.

[2015-03-26 02:54] MyFriendBrad commented on #34
If you want some help on this, I might be able to do some work or at least get this started. Any thoughts on how you wanna try an tackle this?

[2015-03-26 04:27] rossPatton commented on #34
A lot of it is just identifying which checks it should apply to, and then determining how best to add that functionality. So, most checks that are true false should be change to always/never/false, and some more could have several options that can be passed in as strings (like how naming convention currently works).

So I think the first step is identifying which checks it would make sense to take

[2015-03-27 00:17] uglow opened #86 "v0.9.3 crashing"
Hi Ross,

I'm getting this stacktrace after upgrading to v0.9.3:

[code]

My lint config:
[code]

It happens before I get any of the usual 43 BEM-naming errors that I was getting on v0.9.2.

[2015-03-27 00:18] uglow commented on #86
On OSX latest (Yosemite?). Running task thru a gruntJS shell (grunt-exec plugin).

[2015-03-27 00:37] rossPatton commented on #86
thanks, might get a chance to look tonight.

[2015-03-27 00:38] rossPatton commented on #86
it might also help if you can include some of the stylus you were linting?

if you disable the duplicates check do you still get the error?

[2015-03-27 01:38] uglow commented on #86
If I set `"duplicates": false`, it works! But I get 30 errors (less than I was expecting, and none of them are the previous BEM naming errors):

[code]

Sample of file that was giving BEM errors before:
[code]

[2015-03-27 06:51] rossPatton commented on #86
hey @uglow if you get the latest version of stylint the duplicates issue should be fixed. That was an error on my part.

The other issue, the missing BEM errors, is actually a config change.

See: https://github.com/rossPatton/stylint/issues/44

Basically, if you set `namingConventionStrict: true` you'll get the old namingConvention setting back and you should see your 25 errors.

[2015-03-27 06:52] #86 closed

[2015-03-29 21:44] uglow commented on #86
Thanks @rossPatton :)

[2015-03-30 12:49] benedfit opened #88 "Support alternative property ordering style"
We've been reviewing the default settings here at @clocklimited, and agreeing internally on what we want to enable and disable. Discussions around alphabetical property ordering led us to https://css-tricks.com/poll-results-how-do-you-order-your-css-properties/ where the majority of those polled voted in favour of grouping by type. We still couldn't agree internally on whether we'd prefer to group

[2015-03-30 17:40] rossPatton commented on #88
Well, it wasn't something I was considering but the general idea with stylint is to be agnostic about how people write their css.

I personally don't sort by type (how do you ever decide what order to put things in?) but if there's already an implementation of this feature out there I don't see why this can't be in stylint.

I work on this in my spare time, so I can't give you an estimate of how s

[2015-03-30 17:56] awayken commented on #88
@benedfit Would the idea be to literally pass in the preferred ordering into Stylint? Or would it still be a choice between distinct styles (alphabetical, type, none)?

[2015-03-30 18:12] benedfit commented on #88
@rossPatton seeing as we're the ones asking for it, we would be happy to create the feature in a Pull Request for you to review if you like?

@awayken we'd envisaged that the current `alphabetical` option would change to `sortorder`, which would then accept one of three values:

* `alphabetical` the default
* `grouped` which would match properties against a predetermined list (perhaps we could use

[2015-03-30 20:19] rossPatton commented on #88
@benedfit If you guys want to do the implementation i'd gladly review it. Else it'd probably take me a week or two to get around to it.

[2015-04-01 14:36] matthojo commented on #58
+1 for this.

The comma separated version could even be another option for the linter.

[2015-04-02 02:38] uglow opened #89 "Version 0.9.3 reports selector depth greater than <limit> in-error"
[code]

Console log:
[code]

Config:
[code]

Stylint Version 0.9.4

Also, the line break in the warning message makes it harder to understand the error.

Sorry for the trouble, Ross. I'll revert to 0.9.2 again.

[2015-04-02 18:23] rossPatton commented on #89
hmm, ill look into it.

could try just using the `// @stylint off` comment before the `@font-face` for now

[code]

[2015-04-10 02:30] camjc opened #91 "Efficient: true does nothing if you have colons"
`    margin: 3px 0 3px 0`
won't error, but
`    margin 3px 0 3px 0`
will error as it should.

Thanks for the awesome tool!

[2015-04-10 03:48] rossPatton commented on #91
Thank you for reporting the bug, i'll get this fixed in the next update

[2015-04-14 07:29] rossPatton commented on #77
@awayken could you pull the latest from develop and test this?

thanks!

[2015-04-14 07:32] rossPatton commented on #63
i feel like once https://github.com/rossPatton/stylint/issues/77 is live this issue can be considered resolved.

[2015-04-15 13:39] awayken commented on #77
Sorry, @rossPatton! I've been a little MIA. I'll do some testing on this today.

[2015-04-15 13:47] awayken commented on #47
Not sure if this is helpful, but I pulled the latest develop (31638855f57d7c5d1b7b870d5ca274f9d0dbe181), and I still see issues.

[2015-04-15 14:17] awayken commented on #77
@rossPatton: So far, the tests I've come up for it have passed as expected.

stacked.styl
[code]

stacked.json
[code]

[2015-04-15 17:23] rossPatton commented on #47
@awayken yeaaah, that's to be expected, i haven't really gotten to this one yet. soon though, i intend this fix to be in 0.9.5

[2015-04-16 05:33] rossPatton commented on #47
@awayken aaand this should be fixed now (in develop). Lemme know!

[2015-04-16 05:34] #33 closed

[2015-04-16 15:33] benedfit commented on #88
Just a heads up that I started working on this today

[2015-04-16 17:20] awayken commented on #47
The only case that still doesn't pass is in the function declaration.

[code]

I'm using fa1ee81ad674eda65f8cdde1cfef3da4e1802428.

[2015-04-16 17:28] rossPatton commented on #88
awesome!

[2015-04-17 06:42] #47 closed

[2015-04-17 06:42] #63 closed

[2015-04-17 06:42] #77 closed

[2015-04-17 06:42] #91 closed

[2015-04-17 06:43] rossPatton commented on #47
@awayken should be good now. it's now fixed in 0.9.5

[2015-04-17 09:50] camjc commented on #91
Thanks mate! Will update our version of stylint on monday at work. I really appreciate all the work you've been putting in on this project.

[2015-04-17 13:02] benedfit commented on #58
:+1:

[2015-04-19 03:09] #88 closed

[2015-04-20 14:24] matthojo opened #93 "List Stylint code editor linter plugins"
I think it would be handy to list available stylint editor linter plugins somewhere.

These are the 2 I know of so far;

@jackbrewer built: https://github.com/jackbrewer/SublimeLinter-contrib-stylint
I built: https://github.com/AtomLinter/linter-stylint

[2015-04-20 14:27] jackbrewer commented on #93
Slightly premature for the Sublime one - still getting it through the Sublime Linter approval process so it can be installed directly from the Package Manager within Sublime. Should be done soon though.

[2015-04-21 20:37] awayken commented on #47
:+1: Looks good to me. Just tested with 26e58b76464e297d2a2c81f16e0d2823ca1e1777.

[2015-04-21 21:12] awayken opened #95 ""zeroUnits": true warns against the 0% keyframe selector"
When defining the keyframes for a CSS animation and using the "zeroUnits" option, Styling reports a false positive at the 0% keyframe selector. In this case, '0%' is a special selector for specifying keyframes in animations. It should be ignored from the zeroUnits rule.

keyframes.styl
[code]

keyframes.json
[code]

Output:
[code]

I am using 26e58b76464e297d2a2c81f16e0d2823ca1e1777 on Windows 8.1

[2015-04-21 21:20] awayken opened #96 ""from" and "to" considered valid CSS even outside @keyframes declaration"
"from" and "to" are valid selectors when used inside a @keyframes block, but they are not valid outside of that context. The "valid" setting does not warn when "from" and "to" are used outside of said context.

from.styl
[code]

from.json
[code]

Ouput
[code]

I am using 26e58b76464e297d2a2c81f16e0d2823ca1e1777 on Windows 8.1.

[2015-04-21 22:06] rossPatton commented on #95
this appears to be a regression. will need to make sure i add more tests to cover this case. thanks for pointing it out.

[2015-04-23 07:46] jussi-kalliokoski commented on #95
:+1: also got bit by this

[2015-04-23 17:32] rossPatton commented on #95
k, i will fix this soon then

[2015-04-24 04:12] rossPatton commented on #96
@awayken if you pull develop, this should hopefully be fixed.

[2015-04-24 04:12] rossPatton commented on #95
@awayken @jussi-kalliokoski if you guys want to pull develop and test this, it should be fixed

once that's confirmed i'll push it up to npm

[2015-04-24 06:02] jussi-kalliokoski commented on #95
@rossPatton confirmed fixed - I tested with `gulp-stylint`.

[2015-04-24 14:21] awayken commented on #95
I can confirm that this passes with eee056f5bf304124b244eded482b07ccca2455ed.

[2015-04-24 14:23] awayken commented on #96
I can confirm that eee056f5bf304124b244eded482b07ccca2455ed allows `from` and `to` within the @keyframes context and warns as invalid outside of the @keyframes context.

[2015-04-24 17:25] rossPatton commented on #95
:+1:

Will try to get it up soon, probably tomorrow morning

[2015-04-24 17:26] rossPatton commented on #96
:+1:

[2015-04-25 17:20] rossPatton commented on #95
it's up! closing

[2015-04-25 17:20] rossPatton commented on #96
up!

[2015-04-25 17:20] #95 closed

[2015-04-25 17:20] #96 closed

[2015-05-06 11:15] kizu opened #98 "leadingZero should allow to enforce the zero."
Right now `leadingZero` only _disallows_ the leading zero, however, some codestyles enforce them for better readability, so there should be an option to enforce it in stylint.

[2015-05-06 11:18] kizu commented on #34
+1 here, jscs-style config would make it easier to implement things like #98. `leadingZero` would be then split to `disallowLeadingZero` and `requireLeadingZero` etc.

[2015-05-14 20:43] Coobaha opened #99 "nodejs api to use without cli"
It will be awesome to have nodejs module, for usage without cli

[2015-05-14 20:44] rossPatton commented on #99
:+1: this is a feature i'll probably add for 1.0

[2015-05-15 06:22] Coobaha opened #100 "validate props bug"
[code]
but `to top` is valid :)

[2015-05-15 06:43] Coobaha opened #101 "selector depth check bug"
I tested source with "table indentation"
[code]

result is:
[code]
I am happy that warning is raised :) because this code is hard to maintain and produces a lot of diff, when line length is increased/decreased. But I think this should be in another lint option, like innerWhitespace

[2015-05-15 17:14] rossPatton commented on #100
What version of stylint are you running?

[2015-05-15 17:16] rossPatton commented on #101
Aha! Sure.

[2015-05-15 17:21] Coobaha commented on #100
0.9.8

[2015-05-15 17:25] rossPatton commented on #100
Alrighty, I'll be working on stylint over the weekend so i'll take a look. Thanks!

[2015-05-16 23:53] rossPatton commented on #101
so, i've pushed 0.9.9 which would resolve this issue, lemme know if you still see any problems

[2015-05-16 23:54] rossPatton commented on #100
should be fixed 0.9.9, please take a look

[2015-05-17 05:49] rossPatton commented on #93
@jackbrewer Thanks for that btw! I've been using it recently and it works great

[2015-05-17 08:33] jackbrewer commented on #93
Not a problem, happy to help! It was recently accepted so should now be available through the Sublime Package Manager. It's been working well so far. It mainly relies on a regex to parse the CLI results (as does @matthojo 's Atom version) so we should only need to update them if the default output formatting ever changes.

[2015-05-17 15:36] Coobaha commented on #100
yeap, :+1:

[2015-05-17 15:36] #100 closed

[2015-05-17 15:38] Coobaha commented on #101
yeap, no warning now, :+1:
hope to see option to lint this case in the future :)

[2015-05-17 15:38] #101 closed

[2015-05-17 20:38] rossPatton commented on #101
Yep, prolly add it for 1.0

[2015-05-19 17:46] eric-adstage opened #106 "[Feature Suggestion] Different severity levels on warnings"
It would be awesome if stylint supported both error and warning level alerts, such that even one error would cause the linting task to exit with failure at the end, whereas warnings would be just that: warnings, and not necessarily cause a linting failure

E.g.
[code]

[2015-05-21 16:09] corysimmons opened #107 "Default to colon separation"
This is already the standard amongst a lot of core Stylus lib contributors, and will be the only way you can use Stylus at `rc-1.0.0` https://github.com/stylus/stylus/wiki/1.0.0#what-to-change-in-syntax

[2015-05-21 16:30] eric-adstage commented on #107
Damn, I was really liking those typing-one-less-character time savings I was getting all over the place :) But I can see how it would make parsing more difficult.

[2015-05-21 16:38] corysimmons commented on #107
That's always been the argument against it. I think the preferred syntax is now:

[code]

Variables should also be prefixed with a `$` but that's a story for another issue I suppose.

[2015-05-21 16:40] corysimmons commented on #107
Also if you're using Emmet you can modify your settings for it (since the Emmet maintainer refuses to update it's default from colon-less to colon even with the Stylus maintainer chiming in..) in any editor so it expands with the colon. So if you use Emmet you're not saving time by omitting the colon.

[2015-05-21 17:23] rossPatton commented on #107
If that's the direction stylus is going I don't mind changing it eventually. I personally like the lack of colons myself, but I can definitely relate to it being painful to develop around.

[2015-05-25 20:22] rossPatton opened #108 "Stylint 1.0.0"
Hey everyone,

Stylint is getting close to a 1.0.0 release. With any luck it'll be out within the next month or two, depending on my schedule and how much time I can find to work on it.

1.0.0 represents a major revamp under the hood, and will add many new features (some of which might not be fully implemented yet). The amount of code was cut nearly in half despite adding many new checks, it runs

[2015-05-25 20:23] rossPatton commented on #99
@Coobaha https://github.com/rossPatton/stylint/issues/108

[2015-05-25 20:24] rossPatton commented on #107
@corysimmons https://github.com/rossPatton/stylint/issues/108

By the way, how actively developed is stylus at the moment? That 1.0.0 wiki you linked was from 2013.

[2015-05-25 20:28] rossPatton opened #109 "@ignore syntax"
I will be adding an `@ignore` syntax in 1.0.0

I find myself often needing to include fallback css when I use properties that aren't available cross-browser, but for which there are no prefixes.

Example:

[code]

If zoom-in is not supported it falls back to pointer. This throws a duplicates error, as expected, unless you do the following:

[code]

Which is obviously a pain when you do it constant

[2015-05-25 20:30] rossPatton commented on #93
@matthojo @matthojo If you guys want, feel free to make a PR and just update the readme yourselves with anything you find.

[2015-05-25 20:31] rossPatton commented on #106
@eric-adstage I will try to get this in for 1.0.0, but it's not gonna be my main focus. Feel free to implement yourself if you like: https://github.com/rossPatton/stylint/issues/108

[2015-05-25 23:29] corysimmons commented on #107
@rossPatton It's actively developed (https://github.com/stylus/stylus/commits/master). I'm not sure how close they are to `1.0.0` but if colons are the way [most](https://github.com/declandewet/stylus-conventions#which-syntax) [of](https://github.com/jenius/axis/tree/master/axis) [the](https://github.com/mojotech/jeet/tree/master/stylus/jeet) [rest](https://github.com/tj/nib/tree/master/lib/nib) [

[2015-05-26 18:30] awayken commented on #109
What do you think about @stylint ignore instead? That would continue to use the @stylint directive for passing simple instructions about on/off/ignore status.

[code]

Just a thought.

[2015-05-26 20:05] awayken commented on #108
I've updated my local copy and checked out the stylint-1.0 branch. I ran `npm install` but is there anything else I should do to update my local copy to make it ready to use?

[2015-05-26 21:01] rossPatton commented on #108
Yep!

If you run `npm install . -g` inside the 1.0 branch, you should be able to run stylint 1.0 from the cli anywhere on your machine. This will let you it against any stylus you write and make sure it's still performing as it should.

[2015-05-26 21:21] rossPatton commented on #109
sure, that makes sense

[2015-05-29 04:31] bignimbus commented on #106
A more brief way to do this may be to use `0`, `1` and `2`, where `0` would be ignored (like `false` as currently implemented), `1` would be a warning (like `true` as currently implemented), and `2` would be an error.

[2015-05-29 04:47] eric-adstage commented on #106
Ah yes, the old brevity vs readability debate :) The current config format seems to favor verbosity, hence the verbose nature of my original solution. That said, your idea makes sense as well. @rossPatton, care to weigh in?

[2015-05-29 06:58] rossPatton commented on #106
In 1.0 I was intending on taking a more jscs like approach to the options. Personally I always prefer a little bit of verbosity of brevity.

For instance:

[code]

Where `"always"` means always use that rule (always use colons), `"never"` means disallow that rule (never use brackets) and `false / undefined` means we don't do a check for that rule.

This is how 1.0 is currently being implemented.

[2015-05-29 07:00] rossPatton commented on #106
Open to suggestions of course

[2015-05-29 14:57] bignimbus commented on #106
Nothing wrong with more descriptive config :) Another possibility:
* "ignore" || false // no error or warning
* "warning" || true // warning
* "error" // exit, automatic failure

[2015-05-29 20:38] eric-adstage commented on #106
Alright, as a bit of a compromise, how about this?:

[code]

OR

[code]

[2015-05-29 22:00] bignimbus commented on #106
All of these are really good suggestions, thanks!  Before deciding, I think it would be a good idea to define the number of states the user should be able to config.  I count three:
* stylint should not warn the user at all about the rule
* stylint should warn the user and add to the total warning about the rule
* stylint should fail if the user breaks the rule

Am I missing anything?

[2015-05-30 16:35] eric-adstage commented on #106
Looks right to me at first glance.

Just a couple of my thoughts to get them on record:

- Errors and warnings should be counted separately.
- Stylint shouldn't exit immediately on error. It should show a compiled list of errors and warnings after it has completed linting, so the user can take action on all at once.

[2015-05-30 19:39] bignimbus commented on #106
+1

[2015-05-30 23:24] rossPatton commented on #106
I could add a maxErrors config options, similar to the maxWarnings config option.

This way users can decide how many errors/warnings they're willing to tolerate, and if the output goes over either one it exits immediately.

[2015-05-31 03:45] rossPatton commented on #106
So, i've gone and implemented this with the feedback from this thread. In the 1.0 branch.

The syntax follows the spec described by @eric-adstage (expect, error) and introduced maxErrors to the config. If the total number of errors or warnings exceeds their respective max, stylint stops checking and displays a message.

The wordage is a bit weird when setting an option that doesn't follow the `'al

[2015-05-31 19:55] eric-adstage commented on #106
Great news! I was planning to take a crack at implementation this weekend, but glad that you were able to get to it! Looking forward to the latest and greatest.

[2015-06-09 12:51] jackbrewer opened #110 "Regex to remove comments clashing with file globbing - causing hanging process"
### Problem

I've run in to an issue when using Stylus [file globbing](https://learnboost.github.io/stylus/docs/import.html#file-globbing) for `@import` and `@require`.

Stylint process can hang indefinitely, using 100% CPU (depending on file length, and the location of the glob within the file).

Example:
`@require 'components/*'`

### Diagnosis

It seems the [regex in `parse.js`](https://learnbo

[2015-06-09 13:39] benedfit commented on #110
I'm playing around with a Regex that might fix this problem: https://regex101.com/r/zM0xA6/1, and including some extra test cases that might not have been previously tested against. I'll update you with my progress

[2015-06-09 14:40] benedfit commented on #110
@rossPatton https://regex101.com/r/zM0xA6/3 is close, but it wouldn't remove comments in the format `/*'word'*/`

[2015-06-09 15:54] benedfit commented on #110
https://regex101.com/r/zM0xA6/6 has cracked it. Going to submit a PR shortly

[2015-06-09 18:10] rossPatton commented on #110
Weird, i've never hit this issue personally (and I use globs when I require) but it's awesome to see that it's already been resolved!

[2015-06-10 08:25] jackbrewer commented on #110
Yeah, it's a strange one. File length definitely plays a part. Our index stylus file (mainly just @requires) is well commented/documented so is 100 lines+. It was only here that we've spotted the issue.

[2015-06-10 17:21] rossPatton commented on #110
Interesting, I'll try to merge it in tonight.

[2015-06-11 07:33] rossPatton commented on #110
@benedfit @jackbrewer  update on this, i took a look at the pr, tests passed, looked okay, merged it into develop, but after messing with it more it seems to break things. Playing around with it in regexr, it doesn't seem to match the same way the old regex matched.

I ended up tweaking the existing one, which seems to solve the problem: (see here)[https://regex101.com/r/zY7fR9/1]

It's on develop

[2015-06-11 08:07] benedfit commented on #110
@rossPatton just took a look; the new regex will ignore comments that start on the same line as an other Stylus, see https://regex101.com/r/zY7fR9/3. Is that the desired outcome?

[2015-06-11 08:27] jackbrewer commented on #110
Tested develop and all seems to be working well. Happy to test again based on the outcome of the above comment ^

[2015-06-11 22:05] rossPatton commented on #110
What about this? https://regex101.com/r/zY7fR9/4

[2015-06-11 22:14] rossPatton commented on #110
I've also pushed this change up to develop, if you want to test that way.

[2015-06-12 15:13] futekov opened #112 "commaSpace shouldn't give a warning for base64 encoded images"
For example this code triggers a warning for `commaSpace`:
[code]
The problem is the comma right after `data:image/png;base64`.

Stylint 0.9.9, Windows 8.1

[2015-06-12 21:50] rossPatton commented on #110
@benedfit @jackbrewer

[2015-06-12 22:10] rossPatton opened #113 "1.0 Node Module Syntax"
So, technically you've always been able to use Stylint as a node module, but it was not at all obvious how to use it. 1.0 improves that a little bit, but is still a little unusual. I use stampit for organization, and the create() method is used to compose everything together into one object/app.

If anyone has ideas on how to improve this, feel free.

Proposed syntax so far (without passing in par

[2015-06-15 07:27] benedfit commented on #110
@rossPatton tested it and it works well

[2015-06-15 17:17] rossPatton commented on #110
Excellent!

[2015-06-16 10:31] jackbrewer commented on #110
:+1: Tested new develop changes and still fixed and working as expected.

[2015-06-19 03:10] #110 closed

[2015-06-19 03:11] rossPatton commented on #112
i'll fix this in 1.0, but in the meantime you can use the `// @stylint off` syntax to have stylint ignore the line throwing the error

[2015-06-19 03:13] rossPatton commented on #110
0.9.10 fixes this issue, sorry it took so long

[2015-06-22 08:14] #109 closed

[2015-06-22 08:14] #108 closed

[2015-06-22 08:14] #113 closed

[2015-06-22 08:14] #107 closed

[2015-06-22 08:14] #106 closed

[2015-06-22 08:14] #99 closed

[2015-06-22 08:15] #98 closed

[2015-06-22 08:15] #93 closed

[2015-06-22 08:15] #34 closed

[2015-06-22 08:15] #84 closed

[2015-06-22 08:15] #85 closed

[2015-06-22 08:15] #112 closed

[2015-06-22 08:16] rossPatton commented on #112
this should be resolved in 1.0, which is now up. closing.

let me know if you hit any bugs.

[2015-06-22 08:16] rossPatton commented on #109
in 1.0, which is out

[2015-06-22 08:17] rossPatton commented on #107
1.0 is out and now defaults to colon separation

[2015-06-22 08:18] rossPatton commented on #106
The proposed syntax is now in 1.0, which is out. Please report any bugs you find.

[2015-06-22 08:18] rossPatton commented on #99
Technically, this has always been possible but wasn't intuitive. It should now work more intuitively in 1.0 (which is out), see the docs.

[2015-06-22 08:18] rossPatton commented on #98
done, in 1.0. Please report any bugs.

[2015-06-22 08:19] rossPatton commented on #85
meh, it works. will make the actual reporters later

[2015-06-22 08:19] rossPatton commented on #84
good enough

[2015-06-22 08:35] rossPatton opened #114 "Regression with sort order"
Sort Order appears busted after 1.0, despite passing all tests. Unclear on cause as of yet.

[2015-06-22 08:36] rossPatton opened #115 "URL Parsing Needs Tightening"
The logic for stripping out urls is resulting in extra whitespace, causing whitespace sensitive checks to throw errors (trailing whitespace, mixed spaces/tabs).

[2015-06-22 08:37] rossPatton opened #116 "various colon: 'always' regressions"
Primarily just not skipping lines when it's supposed to. Also, needs to only trigger on css, not html.

[2015-06-22 09:12] #115 closed

[2015-06-22 14:21] corysimmons commented on #107
:+1:

[2015-06-22 17:19] rossPatton commented on #107
Aaaaaand there are a few issues, created a new issue for those

[2015-06-24 06:33] rossPatton commented on #114
kind of slapped together some fixes, will leave open for now

[2015-06-24 06:34] rossPatton commented on #116
slapped together some fixes, will leave open just in case

[2015-07-03 23:07] #114 closed

[2015-07-03 23:07] #116 closed

[2015-07-03 23:08] rossPatton opened #121 "Valid Improvements"
Would be nice if valid could optionally validate not just properties but also values, or both.

[2015-07-03 23:09] rossPatton opened #122 "Additional Reporters"
Just a note to myself to create some additional reporters

[2015-07-06 10:04] olegskl opened #123 "colons "always" check fails"
In Stylint version: 1.0.4 on OSX, Windows, ...
Given: `"colons": {"expect": "always", "error": true},`

We get:

File: app/bundles/logged-site/logged-site.styl
Line: 2: background: yellow;

Most probably because starting from [line 19 in checks/colons.js](https://github.com/rossPatton/stylint/blob/b9c3219f0c12813a8573358acab0887fe7becb18/src/checks/colons.js#L19) we have:

[code]

So:

[code]

I t

[2015-07-06 14:30] olegskl opened #124 "semicolons "always" reports on line without property"
Using Stylint version: 1.0.4.

Given:

[code]

And:

[code]

Stylint reports:

File: /Users/olegsklyanchuk/repos/test-gulp/app/bundles/logged-site/logged-site.styl
Line: 3: color: red;

File: /Users/olegsklyanchuk/repos/test-gulp/app/bundles/logged-site/logged-site.styl
Line: 4: }

File: /Users/olegsklyanchuk/repos/test-gulp/app/bundles/logged-site/logged-site.styl
Line: 4: }

[2015-07-06 17:24] rossPatton commented on #124
Hmm, if you update to 1.0.5 what happens? I was dealing with a similar issue yesterday so with any luck it'll be cleared up.

[2015-07-06 17:36] olegskl commented on #124
Alright, the "Warning: missing semicolon" error is gone in 1.0.5. The other two remain however.

[2015-07-06 17:37] rossPatton commented on #124
Cool, thanks. Will look at it tonight.

[2015-07-07 03:54] uglow commented on #89
Hi Ross,

This particular error was fixed in v0.9.6, IIRC. But now I'm getting an invalid property error on the same @font-face block. I'll try to resolve, but otherwise I'll raise a separate issue.

Cheers,
Brett

[2015-07-07 03:54] #89 closed

[2015-07-07 04:12] uglow opened #125 "@font-face with `src` property not considered valid"
With this input:

[code]

...and this config:
[code]

...this output is produced in v1.0.5 is:

[code]

I've tried single-quotes, double-quotes for the URL, moving the `src` property to the top and bottom of the `@font-face` block, but nothing is working. Perhaps it is as simple as adding 'src' to the valid.json file?

If I set `"valid": false`, the warning goes away.

[2015-07-07 05:20] rossPatton commented on #125
It's most likely an issue with it not being in the whitelist.

[2015-07-07 06:22] rossPatton commented on #124
Alright, I just published 1.0.6 specifically to fix this. Lemme know if that works.

[2015-07-07 06:22] rossPatton commented on #125
I've added it to the whitelist in 1.0.6, lemme know if that works for you

[2015-07-07 06:22] rossPatton commented on #123
i had a utility function that trims the lines that i wasn't using. 1.0.6 should resolve this

[2015-07-07 06:45] olegskl opened #126 "using "mixed" in .stylintrc results in warnings"
Using Stylint 1.0.6 on OSX with .stylintrc containing either

[code]
or
[code]
the following code
[code]
produces a warning:

File: app/bundles/logged-site/logged-site.styl
Line: 2: color: red;

There are two spaces before `color:` and one space before `red;`.
Removing the rule from .stylintrc makes the error go away.

[2015-07-07 06:47] olegskl commented on #124
Seems to be working in 1.0.6. Thanks!

[2015-07-07 06:56] olegskl opened #127 ""sortOrder" check produces no warnings"
Using Stylint 1.0.6 on OSX with .stylintrc containing "sortOrder" set to any value, e.g.
[code]
[code]
the following code
[code]
and the following code
[code]
produce no warning whatsoever:

[2015-07-07 06:58] olegskl commented on #123
Seems to be working in 1.0.6.

[2015-07-07 07:03] rossPatton commented on #124
awesome, closing!

[2015-07-07 07:04] rossPatton commented on #123
awesome, closing out...

[2015-07-07 07:04] #123 closed

[2015-07-07 07:05] olegskl opened #128 ""commentSpace" check produces no warnings"
Using Stylint 1.0.6 on OSX with .stylintrc containing
[code]
the following code
[code]
produces no warning whatsoever:

[2015-07-07 07:06] rossPatton commented on #127
i get the correct output when I test that stylus with sortOrder set to 'alphabetical'.

is it possible that the whitespace is inconsistent with your .stylintrc? Stylint relies a lot of whitespace for determining things like sorting or duplication, if it's off it might not be grouping properties together correctly.

[2015-07-07 07:10] rossPatton commented on #126
i can't replicate this issue. it's working properly for me. what's the rest of your config look like?

[2015-07-07 07:10] #125 closed

[2015-07-07 07:11] olegskl commented on #127
What do you mean by "whitespace is inconsistent with your .stylintrc"?

I'm testing just one file and that's the only code in the .styl file and there is nothing else in .stylintrc. I'm on OSX and EOLs are all the same and two spaces are used for indentation.

[2015-07-07 07:14] olegskl commented on #126
There's no "the rest of my config". That's all the code I have.

[2015-07-07 07:22] rossPatton commented on #127
I get context in stylint by relying on whitespace, and that depends on what indentPref is set to.

It occurs to me that I should probably set a default value for indentPref if one is not defined, but I have a feeling that would just result in more issues.

[code]

A lot of checks depend on indentPref being set to either a number (amount of spaces you're using) or false (if tabs). If that's not set

[2015-07-07 07:25] olegskl commented on #127
Can't "indentPref" take an object? Like so:
[code]

[2015-07-07 07:28] olegskl commented on #127
[code]
[code]

[2015-07-07 07:29] rossPatton commented on #127
Yeah, it doesn't check anything, it just works with other checks. IndentPref is currently not a separate check, nor does it claim to be in the documentation.

[2015-07-07 07:29] rossPatton commented on #127
I can certainly add that though

[2015-07-07 07:32] olegskl commented on #127
Alright. Using a number, e.g. `{"indentPref": 2}` seems to make "sortOrder" work.

[2015-07-07 07:33] olegskl commented on #127
Perhaps setting an object to "indentPref" could be tagged as "enhancement".

[2015-07-07 07:35] olegskl commented on #126
Looks to be the same issue as #127.

[2015-07-07 07:35] rossPatton commented on #127
Sounds good to me

[2015-07-07 07:36] #127 closed

[2015-07-07 07:36] #126 closed

[2015-07-07 07:37] rossPatton opened #129 "Make IndentPref a standalone option"
IndentPref should be able to:

1) throw a warning if incorrect # of spaces used
2 ) take a object (for severity)

[2015-07-07 07:37] olegskl commented on #129
:+1:

[2015-07-07 07:53] olegskl commented on #124
Ouch, actually this fails once again when there's a dot in a value, e.g.

[code]

File: app/bundles/logged-site/logged-site.styl
Line: 4: }

Removing the dot, for example `font-size: 11em;` produces no error.

[2015-07-08 01:31] anthonyjruffa opened #130 "Colon validator throws error with with multiple selectors and @import/@media statements"
When using this setting (stylint version 1.0.7):

`"colons" : {
    "expect" : "always",
    "error" : true
  }`

It throws this error:
`Error: missing colon between property and value`

This happens when working with multiple selectors and using import and media statements.

Examples:

`Error: missing colon between property and value
File: <path-to-file>
Line: <line-number>: @media (....)`

`Erro

[2015-07-08 07:30] rossPatton commented on #130
Try 1.0.8, lemme know if you still have issues

[2015-07-08 07:30] rossPatton commented on #128
try 1.0.8, lemme know if you still have issues

[2015-07-08 07:30] rossPatton commented on #124
try again with 1.0.8, lemme know if you still have the problem

[2015-07-08 14:11] anthonyjruffa commented on #130
Thank you for your response and the update.

I ran version 1.0.8 and got this error:

`<path-to-node_modules-dir>/node_modules/stylint/src/core/setState.js:40
		this.state.conf = this.config.commentSpace.expect || this.config.commentSpac
		                                          ^
TypeError: Cannot read property 'expect' of undefined
    at Object.setState (<path-to-node_modules-dir>/node_module

[2015-07-08 17:23] rossPatton commented on #130
Hmm, i'm not getting that. But In looking at that code again I do see a mistake, pretty glaring.

I need to make sure we're even running the commentSpace check at all before I do any of the work there. Like what I do in lint.js.

I'll take another stab at it tonight but if you want to submit a PR i'd gladly accept it.

[2015-07-08 17:28] anthonyjruffa commented on #130
Ah OK.  No need to rush a fix.  I will take a good look at this either tonight or tomorrow.

Thank you again!

[2015-07-08 17:33] rossPatton commented on #130
Cool. Yeah the 'always' checks are new and haven't been as thoroughly tested as the other checks are. But luc

[2015-07-09 04:47] rossPatton commented on #130
hey, i went ahead and (hopefully) fixed it in 1.0.9, lemme know if things work now

[2015-07-09 05:56] anthonyjruffa commented on #130
Thank you for the update.  The commentSpace error went away but the original issue returned.

I took a look and after some changes fixed some of the errors, but not all of them.  I will continue to work on this and will open a PR when I am done.

[2015-07-09 17:49] rossPatton commented on #130
:+1:

[2015-07-10 02:56] xdissent commented on #37
https://www.npmjs.com/package/grunt-stylint =)

[2015-07-10 05:55] rossPatton commented on #37
:+1:

[2015-07-10 05:55] #37 closed

[2015-07-10 16:18] xdissent opened #135 "Check method spec ambiguity"
The contribution docs say checks should return `true|false` to indicate pass/fail, but in reality they must call `this.msg()` to actually add a failure. It looks like the return value is only used in tests at this point.

My question is, given a check like `none()`, should the return value be `true` if `border: none` is found **regardless of the config** (`always|never` etc)? In other words, shoul

[2015-07-11 18:54] #130 closed

[2015-07-12 05:32] rossPatton commented on #135
" In other words, should the config only affect error messages and not return value for checks that accept a config?

Yep

Checking error messages sounds like a good idea, do whatever you want!

[2015-07-13 15:03] rossPatton commented on #128
@olegskl Was your issue resolved?

[2015-07-13 16:04] olegskl commented on #128
I don't know. We decided to abandon stylint, so I haven't checked the latest fixes.

[2015-07-13 16:14] rossPatton commented on #128
:(

[2015-07-13 16:14] #128 closed

[2015-07-14 09:27] Alxblsk commented on #124
I still see the similar issue in some cases with semicolon.

Code:
[code]

[2015-07-14 09:34] Alxblsk commented on #124
The same with `@keyframes`

Code:

`.welcome-test {`
`    .test:hover {`
`        animation: spinAround 2s linear infinite;`
`    }`
`    @keyframes spinAround {`
`        from {`
`            transform: rotate(0deg);`
`        }`
`        to {`
`            transform: rotate(360deg);`
`        }`
`    }`
`}`

Errors:

Could you take a look?

[2015-07-14 09:45] Alxblsk commented on #123
Hi

I found a weird issue with colon detection:

Code:
.smart-image-gallery {
    .test2 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

Error:

I found that if I rewrite '.smart-image-gallery' with just '.smart', I won't receive this error.
Could you take a look?

[2015-07-15 06:19] satoriweb opened #136 "colon: "always" giving false positives when defining several selectors at once"
Hi,

In Stylint 1.0.9 on Windows 7, Styling is giving warnings on @extends and when defining several selectors at once.

Given;
`"colons": "always",`

Examples;
[code]
[code]
[code]
[code]

Thanks!

[2015-07-15 15:16] rossPatton commented on #136
Will take a look

[2015-07-15 15:36] rossPatton commented on #136
@satoriweb This issue is resolved in develop, it will be released shortly

[2015-07-15 15:36] #136 closed

[2015-07-15 15:46] rossPatton commented on #135
@xdissent Lemme know if you have some work on this already, I was going to just go ahead and starting adding in the error message tests

[2015-07-15 16:02] xdissent commented on #135
Not yet! If you get it started I'll join in though

[2015-07-15 16:04] rossPatton commented on #135
cool cool

[2015-07-15 16:06] rossPatton commented on #135
improve-test-cases will be the branch

[2015-07-17 19:53] BenChirlin opened #139 "Duplication Warning Improvements"
When there's a duplicate property or selector the console only says one file path and line number even if the conflict is between two different files. Please have it so the warning lists both locations of the conflict.

[2015-07-18 17:24] rossPatton commented on #139
:+1:

[2015-07-19 05:27] feugy opened #143 "brackets are not enforced onelement selectors"
The "brackets" check works well on selector begining with classes, but not on element selectors:

    body.main
      margin 1em

Will not be checked

[2015-07-19 19:36] kizu opened #144 "`brackets` catches not only usage at selectors"
In Stylint 1.0.9 `"brackets": "never"` gives warnings not only for usage with selectors, but also in some cases where the curly braces are mandatory.

1. Hashes that are written inline.

[code]

3. Nested hashes.

[code]

2. Complex cases of interpolation for selectors.

[code]

[code]

    etc.

[2015-07-19 19:46] kizu opened #145 "`colons` catches not only usage at declarations"
In Stylint 1.0.9 `"colons": "always"` gives warnings not only for usage with declarations, but also in some cases where there shouldn't be a colon.

1. Return statements:

[code]

2. Stuff inside mixins (conditions and some other expressions):

[code]

[code]

[2015-07-19 21:12] florentpoujol opened #146 "Provide linter with stylus string directly instead of path."
Hey !

Could you add a way to provide the linter with the stylus string, instead of the path to a file or directory ?

I can do that with Stylus already by catching the error but it often doesn't give the proper line where it  happens, which is not that usefull...
So that's why I was looking at a proper linter.

[2015-07-20 05:43] rossPatton commented on #145
This is fixed in develop, it'll be in 1.0.10 when it goes up, once I take a look at some of the other issues / PRs

[2015-07-20 09:11] SimenB commented on #122
I have made this one: https://github.com/SimenB/stylint-stylish

[2015-07-20 15:12] rossPatton commented on #122
That looks good to me.

I'll add it to the readme

[2015-07-20 15:27] #122 closed

[2015-07-21 09:33] SimenB commented on #146
I'm looking into providing the possibility for this. Would make integrations with gulp/grunt (or any programmatic use) cleaner

[2015-07-21 17:00] rossPatton commented on #146
Wouldn't be that hard really, would probably just be another branch in core/read.js

[2015-07-21 17:23] SimenB commented on #146
@rossPatton What do you think about trying to line up with eslint's api? http://eslint.org/docs/developer-guide/nodejs-api
Providing one method that works on strings and takes an options-object returning an object with the result, and a few methods to work on files and retrieve formatters (reporters).

The first one is what is asked for in this issue, and the one that would probably be used for bo

[2015-07-21 17:47] bzalasky opened #158 "Media query causes false positive when colons is set to 'never'"
Stylus requires colons in media queries when you specify max-width, min-width, etc...

    @media screen and (max-width: 1183px)

 Stylint misinterprets this, generating a ton of noise, which makes legitimate warnings difficult to spot. For the record, I prefer colons set to 'always' but it wasn't my call to make on the project in question.

[2015-07-21 17:59] bzalasky opened #159 "Property not valid, false positives on pointer-events, vendor-prefixed properties and complex selectors"
This is happening for pointer-events, vendor-prefixed properties, and also some complex selectors. Here are some examples (just listing them for reference, they're not like this in the source)...

    table&
    &[disabled]
    + a
    + span
        pointer-events none
        -khtml-user-select none
        -webkit-touch-callout none

[2015-07-22 13:03] bzalasky commented on #158
I've worked around this at the moment by pulling in Rupture to handle media queries via block mixins, but this would still be good to fix.

[2015-07-22 15:21] rossPatton commented on #158
Course, it'll definitely get fixed

[2015-07-22 15:27] rossPatton commented on #159
this is mostly cleaned up in develop, will hopefully go out with 1.0.10

[2015-07-22 15:28] rossPatton commented on #146
Sure, makes sense to me

[2015-07-23 01:36] bzalasky commented on #159
Great. Thanks for the quick response.

[2015-07-23 08:41] Semigradsky opened #160 "Linting code string"
Hi! Is there any way linting code string? Something like this:
[code]
It would be great!

---
Linter like CSSLint, ESLint, JSHint allow it.

[2015-07-23 17:19] rossPatton commented on #160
It doesn't currently exist but it's something that will probably be added soon.

See: https://github.com/rossPatton/stylint/issues/146

[2015-07-23 19:12] Semigradsky commented on #160
Nice!

[2015-07-26 22:28] rossPatton commented on #143
This issue will be fixed in the next update

[2015-07-29 14:14] forshtreter opened #162 "semicolons: 'always' triggers on multiline selectors"
[code]
In this case Stylint 1.0.9 warns that semicolon is missing after `&__header,`

[2015-07-31 00:11] mehcode opened #163 "zeroUnits false negative for relative sizes"
[code]

[code]

---

[code]

[2015-07-31 01:05] mehcode opened #164 "property validation false negative"
[code]

[code]

---

[code]

[2015-07-31 01:07] mehcode opened #165 "zeroUnits false negative for unitless values"
[code]

[code]

---

[code]

---

On another note -- a lint to enforce a numerical font-weight would be nice.

[2015-08-03 02:10] rossPatton commented on #145
1.0.10 is out now, this issue should be fixed. Lemme know if you still have issues.

[2015-08-03 02:10] #145 closed

[2015-08-03 02:10] rossPatton commented on #144
1.0.10 is out now, this issue should be fixed. Lemme know if you still have issues.

[2015-08-03 02:10] rossPatton commented on #158
1.0.10 is out now, this issue should be fixed. Lemme know if you still have issues.

[2015-08-03 02:10] #158 closed

[2015-08-03 02:10] rossPatton commented on #143
1.0.10 is out now, this issue should be fixed. Lemme know if you still have issues.

[2015-08-03 02:10] #143 closed

[2015-08-03 02:10] rossPatton commented on #163
1.0.10 is out now, this issue should be fixed. Lemme know if you still have issues.

[2015-08-03 02:10] #163 closed

[2015-08-03 02:11] rossPatton commented on #159
1.0.10 is out now, this issue should be fixed. Lemme know if you still have issues.

[2015-08-03 02:11] #159 closed

[2015-08-03 02:11] rossPatton commented on #165
this should be good in 1.0.10

[2015-08-03 02:11] #165 closed

[2015-08-03 02:11] rossPatton commented on #162
should be good now in 1.0.10

[2015-08-03 02:18] rossPatton commented on #164
this should be good in the latest version

[2015-08-03 02:18] #164 closed

[2015-08-03 12:08] SimenB commented on #162
@rossPatton This is still buggy. Maybe not this specific case, but I'm getting a lot of false positives. It seems to trigger if the outer one has too many characters...
Create new issue perhaps?

This fails with `missing semicolon`
[code]

while this is good
[code]

The difference is that the first one goes all the way to `j`, while the second stops at `i`

[2015-08-03 12:15] SimenB commented on #144
I have the inverse problem. We have `always`, and this triggers on variable-declarations (we have a file with only colors).

[2015-08-03 13:01] SimenB opened #168 "namingConvention doesn't detect nested"
[code]

The first one is reported, the second is not (don't ask why nested IDs... Could you add a rule on that? Overqualified)

[2015-08-03 17:31] rossPatton commented on #168
... why nested ids? :smile:

[2015-08-04 13:02] Shutnik opened #173 "Unnecessary colon found in content ":""
➜  Desktop git:(master) ✗ cat .stylintrc
[code]
➜  Desktop git:(master) ✗ cat test.styl
[code]
➜  Desktop git:(master) ✗ stylint test.styl
[code]

[2015-08-04 17:11] joezimjs commented on #146
+1 to paralleling eslint

[2015-08-04 20:09] joezimjs opened #177 "`mixed` isn't working correctly"
Here is my current configuration:

[code]

Here is my only Stylus code that it is checking (btw, the indents are all tabs; Github is converting them to spaces for display here):

[code]

Here is the output from the linter:

[code]

At first I thought it was complaining about the spaces after the colons, but I removed those too, just in case, but it's still giving me errors. If I prefix those lines

[2015-08-04 20:13] joezimjs commented on #177
Figured it out. Apparently it was expecting the full declaration for `indentPref`:

[code]

So does it disable the `indentPref` when you just use `false` and use a default of expecting spaces?

[2015-08-04 20:15] rossPatton commented on #177
this looks like a bug actually, I believe it should default to tabs if there's no number set for indentPref. *shouldn't* matter whether you use the shorthand or the full object. ill look into it

[2015-08-04 20:39] joezimjs commented on #177
With those rules I've tried a few different indents

Chars | Showed Error? | Correct?
--- | --- | ---
tab | no error | :smiley: yup
1 space | no error | :rage: nope
multiple spaces | error | :smiley: yup
tab + space | no error | :rage: nope
space + tab + space | no error | :rage: nope
2 tabs | no error | :neutral_face: idk

The Stylus compiler got that last one, so I wouldn't worry about it. The s

[2015-08-04 20:46] joezimjs opened #178 "Trailing Whitespace docs"
The docs currently refer to the `trailingWhitespace` rule as just "whitespace" (https://github.com/rossPatton/stylint#whitespace--default-true-true--false-). It also says in the docs that the possible values are `true` or `false`, but I know that it uses `"never"`. I'd fix this myself, but I'm not 100% certain what the possible values are. I assume it's just `"never"` and `false`.

[2015-08-05 17:40] rossPatton commented on #177
Yeah, Stylus itself compiles things in ways that I would describe as... unpredictable at times. Mostly because of the complexity that comes with no formal syntax. Hoping 1.0 fixes those issues.

grid is super helpful, btw

[2015-08-05 17:41] rossPatton commented on #178
ah, you would be correct. it's 'never' (as in, never allow whitespace) and false (as in, we dont check for this).

[2015-08-05 21:15] #178 closed

[2015-08-07 08:43] tadatuta opened #180 "Support curly braces on a next line for brackets: always"
The linter tries to find open brace on the same line with a selector and ignore it on the next one:
[code]
should be valid.

// cc @sipayrt

[2015-08-07 10:08] voischev commented on #180
:+1:

[2015-08-07 10:16] sipayRT commented on #180
:+1:

[2015-08-07 20:12] #168 closed

[2015-08-08 19:51] rossPatton commented on #139
done

[2015-08-08 19:51] #139 closed

[2015-08-08 19:51] rossPatton commented on #129
done in 1.1.0

[2015-08-08 19:51] #129 closed

[2015-08-08 19:52] rossPatton commented on #144
latest version should address this

[2015-08-08 19:53] rossPatton commented on #173
should be addressed in 1.1.0

[2015-08-08 19:53] #173 closed

[2015-08-08 19:53] rossPatton commented on #162
should be addressed in 1.1.0

[2015-08-08 19:55] rossPatton commented on #177
@joezimjs so, when i tested this i was getting expected results, including when i used your exact code example. but i'll keep looking at it.

[2015-08-09 00:53] joezimjs commented on #177
Did you try with gulp-stylint. It may have caused some issue... idk

[2015-08-09 12:07] futekov opened #181 "False positives for "colons": "always" when nesting"
I discovered several false positives for `"colons": "always"` when nesting, this code produces 5 errors - one for each root class:

[code]

The errors:
[code]

My config:
[code]

[2015-08-14 10:27] yoyurec opened #183 "Plz add to whitelist"
https://css-tricks.com/snippets/css/remove-gray-highlight-when-tapping-links-in-mobile-safari/
[code]
*property is not valid*

-----
http://caniuse.com/#feat=css-placeholder
[code]
*unecessary colon found*

-----
https://developer.mozilla.org/en-US/docs/Web/CSS/@media
[code]
*property is not valid*

[2015-08-14 16:29] aristov commented on #180
:+1:

[2015-08-14 22:29] rossPatton commented on #183
hi, i will get to this over the weekend most likely, but if you want to just submit a PR against develop i'll gladly merge it in right away

[2015-08-15 00:32] billyjanitsch opened #184 ""brackets" catches transparent mixins"
If you define a mixin and then try to use it transparently (see [the mixin docs](https://learnboost.github.io/stylus/docs/mixins.html)) with `"brackets": "always"`:

[code]

The line `myMixin: 5px` errors, but shouldn't.

[2015-08-17 03:12] rossPatton commented on #183
this has been pushed up

[2015-08-17 03:12] #183 closed

[2015-08-18 01:05] camjc opened #185 "//@stylint ignore is acting like //@stylint on"
[code]

The ignore stops the padding's important being found.
Looks like it happens to the bottom of the file. I'm running 1.1.1

[2015-08-18 04:38] robmunro commented on #185
Having the same problem.

[2015-08-18 05:25] rossPatton commented on #185
should be fixed in 1.1.3

[2015-08-18 05:25] #185 closed

[2015-08-18 05:44] camjc commented on #185
You're on the ball! Thanks so much mate.

[2015-08-18 13:56] Anaphase commented on #146
+1 for this, would definitely help integrate stylint into my build process

[2015-08-20 15:27] langdonx commented on #181
Having the same issue..  the issue exists with `brackets: "always"` as well...

    Warning: always use brackets when defining selectors
    File: index.styl
    Line: 52: @extend $anchor;

For:

    a {
        @extend $anchor;
    }

[2015-08-21 02:18] rossPatton commented on #181
Are you both using the latest version?

[2015-08-21 12:47] langdonx commented on #181
Yes, installed it yesterday.

    Stylint version: 1.1.3

[2015-08-21 13:02] futekov commented on #181
Yup, logged the bug when it was `1.1.1`, it's still reproducable on `1.1.3`.

[2015-08-21 19:09] rossPatton commented on #181
k just checking. i'll take a look this weekend.

[2015-08-23 00:17] #162 closed

[2015-08-23 00:17] #144 closed

[2015-08-23 06:17] rossPatton commented on #177
Hey @joezimjs, I think I might have resolved your issues in the latest release. Give it a go?

[2015-08-23 06:18] rossPatton commented on #181
@futekov @langdonx Can you guys let me know if you still see this issue in 1.2.0?

[2015-08-23 06:27] rossPatton commented on #184
So, because Stylus' syntax can be unpredictable I use a whitelist to determine when something is a css property, or html, or whatever, which informs a bunch of other things. In the case of transparent mixins, they're not on the whitelist and not obviously mixins.

I added a new config options called `mixins` in 1.2.0 which you should be able to use to resolve this if you really want to use transpa

[2015-08-23 11:43] yustnip opened #189 "'property is not valid' for 'div.className' expression"
In v.1.2.1 get warnings 'property is not valid' on following expressions:
[code]

[2015-08-23 17:36] zenopopovici commented on #184
It also catches `@extend` statements, `collon` has the same issue with `@extend`

[2015-08-23 18:46] rossPatton commented on #184
I should have fixed that as well, are you using the latest?

[2015-08-24 06:42] rossPatton commented on #189
should be good in 1.2.2, lemme know

[2015-08-24 13:03] langdonx commented on #181
Yes, fixed in 1.2.2.  Getting a different error now, but will file a separate issue.

[2015-08-24 13:21] langdonx commented on #177
I was having trouble with this as well.  It seems to work just fine now if you leave off `indentPref`, define it as `false` or define it as @joezimjs did in his first reply.

In my case, I had switched from using spaces to tabs and had left `indentPref` set to `4` in my config file.  The strange thing is that instead of telling me I my indention count was wrong (1 character (tab) instead of the ex

[2015-08-24 13:28] langdonx commented on #184
As of 1.2.2, `@extend` is still throwing errors:

    Warning: always use brackets when defining selectors
    File: index.styl
    Line: 104: @extend $anchor;

Line 103-105:

    a {
    	@extend $anchor;
    }

[2015-08-24 17:36] joezimjs commented on #177
I was previously using gulp-stylint, but to test your changes I install stylint@1.2.2 and it gives me the same errors

[2015-08-24 18:18] futekov commented on #181
I can confirm that since 1.2.2 the issue is fixed.

[2015-08-24 18:18] #181 closed

[2015-08-24 18:29] rossPatton commented on #177
@langdonx that seems like intended behavior to me. it maybe just isn't very intuitive how it's currently setup.

`mixed` doesn't care about how many spaces you use, just whether you use spaces or tabs.
`indentPref` does 2 things. it tells mixed whether you're using tabs or spaces, and if you're using spaces, it makes sure you use the correct amount.

[2015-08-27 09:23] yustnip commented on #189
All's good now. Thanks.

[2015-08-27 17:25] rossPatton commented on #189
:+1: closing

[2015-08-27 17:25] #189 closed

[2015-08-28 14:33] lellimecnar opened #193 "Parent selectors and selector interpolation triggering required semicolon rule"
Each of the below are (sometimes) triggering the required semicolon rule when used in a list of multiple selectors.

[code]

Using 1.2.2 on OS X

[2015-08-31 15:57] lellimecnar commented on #124
I'm getting a lot of false positives when using parent selectors with multiple selectors, each on their own line, and using interpolation within multi-line selectors. Using version 1.2.2.

For example:
[code]

Each of those examples is giving me a "missing semicolon" error.

[2015-08-31 17:09] rossPatton commented on #124
@Alxblsk Hey, sorry about that, must have missed your comment 2 weeks ago.

@lellimecnar I will re-open this and take another look

[2015-09-01 16:57] lellimecnar commented on #124
#193

[2015-09-01 17:41] lellimecnar opened #196 "@stylint off doesn't seem to be doing anything"
I'm putting: `// @stylint off` at the top of some of my files, and they're still being linted. Those files are also wrapped in `@css { ... }` but that seems to be ignored as well.

[2015-09-01 21:14] rossPatton commented on #196
could you include a sample of your stylus please

[2015-09-02 13:54] lellimecnar commented on #196
The files in having difficulties with are just jQuery UI CSS files, wrapped in `@css`. That didn't work to bypass stylint, so I added `// @stylint off` on the first line, which didn't work either.

[2015-09-02 17:13] rossPatton commented on #196
good to know, either one of those options should have worked. i use `@stylint off` in my code all the time. i'll look into it

[2015-09-16 23:20] smcgarrigle opened #198 "lacks minions"
http://codepen.io/rachel_web/pen/pjzowB

[2015-09-17 05:25] rossPatton commented on #198
https://media.giphy.com/media/QV5vp1BYenfCE/giphy.gif

[2015-09-18 20:51] jcrosetto opened #200 "globalDupe: true causes duplication error when watch is running"
I was using gulp-stylint in conjunction with a watch to validate files when they change. Using globalDupe: true causes duplication errors to be thrown on every selector when changing a watched file even though none of the selectors are duplicated.

I attempted to figure out what was going on and it seems that adding the line "this.cache.sCache = {}" to resetOnChange fixes the issue.

[2015-09-18 22:04] rossPatton commented on #200
thanks, that seems like an easy fix

[2015-09-20 05:22] #198 closed

[2015-09-20 07:21] rossPatton commented on #184
should be resolved in 1.2.3

[2015-09-20 07:21] #184 closed

[2015-09-20 07:21] rossPatton commented on #193
couldn't replicate :(

[2015-09-20 07:21] #193 closed

[2015-09-20 07:22] #124 closed

[2015-09-20 07:22] rossPatton commented on #196
should be resolved in 1.2.3

[2015-09-20 07:22] #196 closed

[2015-09-20 07:22] rossPatton commented on #200
should be resolved in 1.2.3

[2015-09-20 07:22] #177 closed

[2015-09-20 07:22] rossPatton commented on #160
gonna close this since it's a dupe of #146

[2015-09-20 07:22] #160 closed

[2015-09-23 22:52] jcrosetto commented on #200
I updated to 1.2.3 and globalDupes: true is no longer working across watched files. I wasn't able to look into it that closely but it seems that when a file changes, resetOnChange gets called once for each file that is being watched causing sCache to get wiped in between each file check.

[2015-09-24 22:24] jcrosetto commented on #200
It looks like resetOnChange is only called for a file after that file is checked for duplicates. So even if the sCache is cleared only once per file change, the first file checked after a change will throw duplicates errors every time.

I'm thinking it might be better to clear the sCache in duplicates.js the very first time it executes after a file changes. There might be a better way to do this b

[2015-09-24 22:53] jcrosetto opened #201 "duplicates: true, globalDupe: false not working"
I have a stylus file (myfile.styl) with the following in it:

    .left-panel
    	border green

    .left-panel
    	border green
    	border blue

If I set duplicates: true and globalDupe: false, running the following does not produce any errors.

    var gulp = require('gulp');
    var stylint = require('gulp-stylint');

    gulp.task('default', function () {
        return gulp.src('src/myfile

[2015-09-25 13:35] charlierudolph opened #202 "sortOrder bug with nested tags"
Given a file with
[code]
When linting with sortOrder - alphabetical, you get errors. The following all work as expected so it appears the bug is isolated to a nested selector that is only a tag
[code]

[2015-10-02 20:34] zenopopovici opened #203 "sortOrder not working"
## My config:

[code]
## This should not validate but it does

[code]

Version: 1.2.3, OSX 10.11.

[2015-10-03 17:21] geekyme opened #204 "stylint not throwing error"
I am using your default config:

[code]

Tested this stylus file:
[code]

i ran `stylint fonts.styl` and there was no warning.

I am using version 1.2.3

[2015-10-05 21:20] romeovs opened #205 "border throwing none error"
I have following stylus file

[code]

stylint gives me the following error:
[code]
same goes for the `border-color` and `border-width` properties

[2015-10-06 19:34] yustnip opened #206 "Doesn't work. Without errors in CLI"
Recently stylint stopped working. My configuration for Gulp:

[code]

Maybe it is concerned with a new version of Node.js.

[2015-10-07 01:30] rossPatton commented on #206
what's your stylint version #?

[2015-10-07 07:14] yustnip commented on #206
"version": "3.0.0" in package.json

[2015-10-07 17:19] rossPatton commented on #206
ah, you're in the wrong repo. `gulp-stylint` depends on stylint, but isn't done by me.

to be fair, it might have broken because of something I changed relatively recently, but it's best to post an issue over there

[2015-10-07 17:19] #206 closed

[2015-10-08 18:37] yustnip commented on #206
Duplicated the issue in gulp-stylint - https://github.com/danielhusar/gulp-stylint/issues/21

[2015-10-09 21:10] Dylan-Chapman commented on #181
I think this may still be a problem. If, for example, you have the following:
[code]
You'll get the error:
[code]
Can anybody confirm this? I'm using gulp-stylint, which is using stylint 1.2.3

I can create a separate issue if it's still a problem in the newest version of stylint, but I wanted to verify first.

[2015-10-13 02:18] geta6 opened #207 "TrailingWhitespace and DuplicateProperty bug"
When linting with `trailingWhitespace: true`, `duplicates: true` or `valid: true`, you get warns against expectations.

[code]

I think this code is probably the cause, how do you think?

src/utils/trimline.js

[code]

- stylint 1.2.4
- OSX 10.11

[2015-10-13 05:38] rossPatton commented on #207
your assumption is most likely correct here, thx for letting me know

[2015-10-14 19:32] servel333 opened #208 "Search parent directories for .stylintrc file"
Use Case: I'm using Sublime Text 3 with Sublime Linter. This tool will change the directory to the same directory of the file being linted by default (not my project directory, but a subdirectory). I would like to put my `.stylintrc` file in the root of my project but I can't because stylint only looks in the working directory.

I would like to request that the linter start searching in the direct

[2015-10-15 15:50] joezimjs opened #209 "Define "extra" valid properties"
I want to keep verification of valid properties on, but I'm using Stylus in conjunction with CSS Modules, which includes a `composes` property. I'd like to be able to specify that `composes` is a valid property name somehow.

[2015-10-15 17:11] rossPatton commented on #209
sounds like a good idea to me

[2015-10-19 11:52] PalleZingmark opened #210 "Double ids throwing wrong warning"
We´re using `v1.2.3`.
[code]
`-> Warning: hexidecimal color should be a variable`

Although this code isn't optimal, this shouldn't throw a warning for hexidecimal color.

[2015-10-19 13:04] PalleZingmark opened #211 "Warning 'missing semicolon' is a bit buggy"
This behaviour gave me some new gray hairs yesterday when exploring some irregular warnings.
We´re using `v1.2.3`.

**test 1:**
[code]
`-> Warning: missing semicolon, Line: 5: &:before`

**test 2:**
[code]
`-> No warning`

**test 3:**
[code]
`-> No warning`

**test 4:**
[code]
`-> Warning: missing semicolon, Line: 5: &:before`

**test 5:**
[code]
`-> No warning`

As you can see, it's not only wher

[2015-10-19 14:34] PalleZingmark opened #212 "Attribute values throwing warning"
Using `v1.2.3`:

[code]
`-> Warning: avoid one liners. put properties on their own line`

[2015-10-20 06:05] #58 closed

[2015-10-20 07:27] rossPatton commented on #209
@joezimjs so, first, css modules looks super cool. second after actually looking at this `composes` property, I believe you should be able to specify this with stylint as is.

stylus supports the concept of transparent mixins, which are basically just custom mixins that can be used as properties

[code]

if you add a `mixin` property to your stylint config you should be able to use `composes` with

[2015-10-20 07:27] #209 closed

[2015-10-20 07:36] rossPatton commented on #212
@PalleZingmark can i get more information about your config? i am not seeing this locally

[2015-10-20 07:37] rossPatton commented on #208
this will be in the next release

[2015-10-20 13:10] joezimjs commented on #209
That worked great. Thanks.

I'm essentially just using Stylus to give my CSS cleaner syntax and for variables. Thus far that's all it's been needed for and I let CSS Modules handle the rest of the work. I like the way that `composes` works vs trying to use mixins or anything like that. I wouldn't be surprised if I see uses for mixins and such (mostly for parameterization and such), but if I can de

[2015-10-20 13:29] servel333 commented on #208
Awesome. Thanks.

[2015-10-20 18:02] PalleZingmark commented on #212
@rossPatton Certainly, here´s how it's setup:

`gulp v3.9.0`
`gulp-shell v0.5.0`
`stylint v1.2.3`

**gulpfile.js**
[code]

**.stylintrc**
[code]

[2015-10-20 18:49] rossPatton commented on #212
thanks, i'll take another look tonight

[2015-10-21 17:42] rossPatton commented on #208
@servel333 so i've added similar behavior. right now the new order of priority is:

1 using stylint programmatically and passing in config option as a parameter

2 using stylint via command line and passing in a path to a .stylintrc via the --config flag

3 if the first two fail, stylint will then check the cwd

4 if that fails, stylint will walk up 2 directories looking for a .stylintrc file

5 i

[2015-10-21 17:42] #208 closed

[2015-10-22 15:48] servel333 commented on #208
Why does it only walk up two directories?

[2015-10-22 17:21] rossPatton commented on #208
i suppose i could make it walk all the way up

[2015-10-22 17:24] servel333 commented on #208
I think two directories up will satisfy most users, but deeply nested style files isn't unheard of if, for example, you had a Git submodule in your project. I think I would recommend walking all the way up if it doesn't significantly affect the performance of the application. Thanks.

[2015-10-24 19:02] uradvd85 opened #213 "Add BEM lowercase_underscore to modificators"
Example if set to 'BEM_low': prefer $var__like_this

[2015-10-26 03:54] rossPatton commented on #212
still can't replicate this.

i've tested the following ways with your config:
- locally via cli
- locally via gulp
- locally used directly
- using 1.2.3 cli
- using 1.2.3 via gulp
- using 1.2.3 directly

sorry to not be more help.

closing for now (if anyone else has this issue I will re-open).

[2015-10-26 05:13] rossPatton commented on #207
so fixing the 1st and 3rd issues appear to be pretty straightforward, and will be in the next release.

not able to reproduce the 2nd issue quite yet

[2015-10-26 05:46] rossPatton commented on #205
can't replicate. can i get your stylint version and your `.stylintrc` setup if you're using one?

[2015-10-26 06:09] rossPatton commented on #201
this will be fixed in the next release

[2015-10-26 06:25] rossPatton commented on #202
i am not seeing this error locally. please provide more information that I can use to debug.

stylint version + your `.stylintrc` would be very helpful

[2015-10-26 06:29] rossPatton commented on #204
this appears to be expected behavior, stylint currently doesn't have a way to detect a redeclaration of a font-face

[2015-10-26 06:29] #204 closed

[2015-10-26 06:29] rossPatton opened #214 "detect font-face redeclaration"
stylint should be able to parse @font-face declaration as part of it's duplicate test

[2015-10-26 17:08] benbernard commented on #205
My stylint version is 1.2.5 from npm (which is the latest I see in npm)

The stylintrc file I'm using is minimal (for using the none: always flag, which I realized I didn't mention in the original submit, sorry :) )

[code]

[2015-10-26 17:15] rossPatton commented on #205
no worries, i'll take another look this week

[2015-10-27 08:05] PalleZingmark commented on #212
@rossPatton This is so weird. I've tested this issue now on 5 different setups and they all generate the same warning. `-> Warning: avoid one liners. put properties on their own line`

Here is the exact code I've tested on: https://www.dropbox.com/sh/5f531dyxiosb66e/AAC3YDwbH6R9ImwPvhUqy9dFa?dl=0

1. `cd stylint-test`
2. `npm install stylint`
3. `stylint test.styl`

![image](https://cloud.githubus

[2015-10-27 08:14] carsotho commented on #212
I also get this bug when running @PalleZingmark test case with stylint 1.2.5, with Node 0.12.7 on Mac OSX 10.10.5

[2015-10-27 19:45] PalleZingmark commented on #211
**test 6:**

[code]
`-> Warning: missing semicolon, Line: 4: rect`

[2015-10-27 20:10] PalleZingmark opened #215 "Conditional assignment operator throwing error"
I've used the same setup as used here: https://github.com/rossPatton/stylint/issues/212#issuecomment-151407484

**test.styl:**
[code]

[2015-10-27 20:46] PalleZingmark commented on #212
Found another interesting issue regarding `Warning: avoid one liners. put properties on their own line` today, not sure it's really related to this issue, but I'll post here first instead of opening a new issue.

I used the same setup, but with this code:
(note: there is a white-space after _display: block;_ as better seen in the screenshot)
[code]

And when I removed the whitespace, I got no warn

[2015-10-27 20:49] rossPatton commented on #212
that is very weird. hmmm

[2015-10-27 21:04] PalleZingmark commented on #212
If I look at Line 4 in [stylint/src/checks/stackedProperties.js](https://github.com/rossPatton/stylint/blob/1f3b25b9be6e993d8739fc7c087c428f582c5819/src/checks/stackedProperties.js#L3), does that regexp take a trailing whitespace into the calculation?

[2015-10-27 21:32] rossPatton commented on #212
prolly not. i trim my trailing whitespaces by default (via sublime settings) so most likely i missed that case

[2015-10-28 07:14] Cordazar commented on #215
The same goes for
[code]

[2015-10-31 17:13] dennishall1 commented on #211
Checking out version 1.2.5 .. seems to say error: missing semicolon for *every* BEM-style classname in a group:

[code]

"missing semicolon" on line 2

[2015-10-31 18:32] dennishall1 opened #217 "Code-style false-positives inside content rules"
If you have `content: ",";` --- you'll get a false-positive:
Warning: commas must be followed by a space for readability.
File: ./src/modules/filename.styl
Line: 182: content: ",";

This would also apply for other rules that might get triggered, but shouldn't, inside `content` style rules, such as colons and semicolons, maybe even comments, others.  But commas will likely be the most common false-

[2015-11-06 07:45] rossPatton commented on #205
this is fixed in 1.3.0, thanks for reporting

[2015-11-06 07:45] #205 closed

[2015-11-06 07:45] rossPatton commented on #207
1st and 3rd should be fixed in 1.3.0, closing because i haven't been able to reproduce issue 2

[2015-11-06 07:45] #207 closed

[2015-11-06 07:47] rossPatton commented on #211
this should be fixed in 1.3.0

[2015-11-06 07:47] #211 closed

[2015-11-06 07:49] rossPatton commented on #212
so, this wasn't in the latest release (1.3.0) but i hope to get to it for 1.3.1

[2015-11-06 10:25] romeovs commented on #205
Cool!

[2015-11-06 16:33] benbernard commented on #205
thanks!

[2015-11-06 17:04] benbernard opened #224 "Border: none throwing errors"
this style errors

[code]

With this .stylintrc:
[code]

Might be due to changes related to this issue: https://github.com/rossPatton/stylint/issues/205

[2015-11-08 03:09] rossPatton commented on #215
this should be fixed as of 1.3.0

[2015-11-08 03:09] #215 closed

[2015-11-08 04:26] rossPatton commented on #217
this issue should be fixed in 1.3.2

thanks!

[2015-11-08 04:26] #217 closed

[2015-11-08 04:27] rossPatton commented on #224
i believe i've fixed this in 1.3.2

thanks again

[2015-11-08 04:27] #224 closed

[2015-11-08 04:51] rossPatton commented on #212
this should be fixed in 1.3.2

[2015-11-08 04:51] #212 closed

[2015-11-09 16:06] sofiushko opened #226 "Trailing whitespace on content"
If you have in config `` "trailingWhitespace": "never"`` and in rule ``content: 'foo'`` you'll get ``trailing whitespace``.  But  ``content:'foo'`` will be ok.

[2015-11-12 12:18] koffeine commented on #226
It's not just on content, setting trailing whitespace to 'never' also gives warnings on @import declarations:
@import '_base' -> Error: trailing whitespace
@import'_base' -> (without a space between) no error

This issue exists since upgrading to 1.3.2, it was working until then.

[2015-11-12 18:34] rossPatton commented on #226
yeah. i know why this is happening, just haven't had time to push a fix.

[2015-11-13 09:29] zxqfox commented on #180
:+1:

[2015-11-14 18:59] charlierudolph commented on #202
Simple example:

a.styl
[code]

.stylintrc
[code]
Running
[code]

Found the problem by digging into the code. Because I didn't have the config `indentPref` set, `input` to be a property instead of a selector. What do you think about making `indentPref` mandatory in order to use `sortOrder`?

[2015-11-14 19:23] charlierudolph opened #227 "sortOrder - variables bug"
when using sortOrder if a property value uses a variable that starts with a `$` it can cause issues to be hidden. For example when using sort order alphabetical, the following does not error
[code]

[2015-11-18 10:39] leny commented on #25
Hi, this bug still exists. Maybe reopen?

[2015-11-18 18:29] rossPatton commented on #25
hi, can you please add your config (if using one) and version #? i'll

[2015-11-18 18:58] leny commented on #25
Stylint version: `1.3.2`

Config: ```
{
    "blocks": false,
    "brackets": {
        "expect": "never",
        "error": true
    },
    "colons": {
        "expect": "never",
        "error": true
    },
    "colors": false,
    "commaSpace": {
        "expect": "always",
        "error": true
    },
    "commentSpace": {
        "expect": "always",
        "error": true
    },
    "cssLiteral"

[2015-11-18 22:25] rossPatton commented on #25
thx, will look into it

[2015-12-02 16:14] dayforcebonnie opened #228 "Enforce one type of unit"
It would be nice to have an option to only allow one type of units - px/em/rem.

[2015-12-06 06:24] rossPatton commented on #227
thanks for the catch! this should be fixed in 1.3.3

[2015-12-06 06:24] #227 closed

[2015-12-06 06:25] rossPatton commented on #226
this should be fixed in 1.3.3

[2015-12-06 06:25] #226 closed

[2015-12-07 04:58] rossPatton commented on #203
this issue is probably fixed in the latest version, 1.3.3

[2015-12-07 04:58] #203 closed

[2015-12-07 04:59] #135 closed

[2015-12-07 15:36] igorfv opened #229 "Error: property is not valid on 1.3.3"
It's working on 1.3.2, but after the 1.3.3 update it throws an error like:

[code]

[2015-12-07 18:31] rossPatton commented on #229
ugh, i know why. if you remove the semicolon, what happens?

[2015-12-07 18:50] rossPatton commented on #229
hey, you want to try updating to 1.3.5 and let me know if you still get this error?

[2015-12-07 18:59] igorfv commented on #229
Sorry, I can't easily remove the semicollons, the project is just too big to remove all of them.

Anyway,
I tried with 1.3.5 and the error changed:

[code]

[2015-12-09 14:45] NikolayFrantsev opened #230 "Unit values are not checked properly"
➜ cat ok.styl

[code]

➜ cat fail.styl

[code]

➜ stylint ok.styl
➜ stylint fail.styl

[code]

[2015-12-09 14:51] Shutnik opened #231 "Properties are not checked properly"
➜ cat test.styl
[code]
➜ stylint test.styl
[code]

[2015-12-09 18:36] rossPatton commented on #230
thanks, this error shouldn't trigger inside @keyframes, i'll take a look

[2015-12-09 18:37] rossPatton commented on #231
this value is probably just not on the whitelist, should be easy to update

[2015-12-10 08:52] Shutnik commented on #231
nope, this value is [whitelisted](https://github.com/rossPatton/stylint/blob/master/src/data/valid.json#L716)

[2015-12-10 08:55] Shutnik commented on #230
error is not triggered on keyframe times, but I'm not sure if it's good to ignore errors for properties inside keyframe times

[2015-12-10 11:17] Alxblsk opened #232 "Error: comma must be followed by a space for readability"
Hi, I found that after upgrade from 1.3.2 to 1.3.5 I start receiving an error:

`Error: commas must be followed by a space for readability`
`File: theme/nextgen/hello-world.styl`
`Line: 14: font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;`

my current configuration is
[code]

Founded, if wrap all font families in double quotes, everything is OK, but it can work only as temporary soluti

[2015-12-14 20:28] gscottolson commented on #232
:+1:

[2015-12-14 20:30] gscottolson opened #233 "Inappropriate comma warning"
The following code:
[code]

produces an error: `Warning: commas must be followed by a space for readability`

[2015-12-14 20:31] gscottolson commented on #233
Might be related to #232

[2015-12-14 20:36] rossPatton commented on #232
yeah, all these whitespace / comma / etc type issues are really just one bug that's been very hard to squash

[2015-12-14 21:07] gscottolson opened #234 "Alphabetization warning incorrectly reported"
`cat foo.styl` →
[code]

`cat bar.styl` →
[code]

`stylint foo.styl` → :+1:

`stylint bar.styl` →
[code]

Why does this happen for nested rules?

[2015-12-14 23:35] rossPatton commented on #234
can i see your config

rules like `alphabetical` and `duplicates` need to have `indentPref` set correctly to work

[2015-12-16 19:48] aredridel opened #235 "headings are not parsed if they are not surrounded by whitespace"

[2015-12-16 19:48] aredridel commented on #235
Wow, my browser went all over there. I'll file a real issue.

[2015-12-16 19:48] #235 closed

[2015-12-16 19:49] aredridel opened #236 "Formatter mode?"
It would be great to have a 'just fix it' mode for things that aren't semantically ambiguous -- make the code conform instead of yelling at developers do do work a machine can do.

Is this an interesting idea?

[2015-12-17 15:38] gscottolson commented on #234
[code]

I pulled this off the [Options example](https://github.com/rossPatton/stylint#options). I’d be happy to update the README with these dependencies so it’s clearer for future adopters. Just let me know.

[2015-12-17 18:30] rossPatton commented on #234
feel free - I rarely have time to work on this project and any help is great appreciated!

[2015-12-17 18:30] #234 closed

[2015-12-23 21:09] eugenet8k opened #237 "Sort order bug with nested blocks"
This piece of stylus code:

[code]

Gives persistent alphabetical sorting warning. Even considering that c goes after b. If the comment removed it works fine. If nesting is removed or mixin is replaced with a class it works fine. The problem appears in this particular combination.

[code]

.stylintrc
[code]

Stylint version: 1.3.5

[2016-01-21 01:40] rossPatton commented on #236
this would be super cool, i would gladly accept any PRs for this, but I personally don't have much time to work on the linter lately

[2016-01-21 01:41] rossPatton commented on #233
should be fixed in the latest build on npm

[2016-01-21 01:41] #233 closed

[2016-01-21 01:41] rossPatton commented on #232
closing because this should (hopefully) be fixed in the latest build

[2016-01-21 01:41] #232 closed

[2016-01-21 01:42] #201 closed

[2016-01-27 07:41] corysimmons opened #239 "Is there a config option to disable invalid property warnings?"
I make PostCSS plugins that use invalid properties.

I intentionally namespace them (e.g. `lost-columnd: 1/2`) so there's virtually zero chance they'll ever conflict with W3C.

Is it possible to disable invalid property warning via .stylintrc?

Or, even better, would it be possible to make it so you can ignore a namespace? (I plan on making a lot of these `foo-` libraries in the coming months.

[2016-01-27 08:17] rossPatton commented on #239
there is actually!

technically, it's to be used with transparent mixins, but you should be able to use them with custom properties as well.

i see now that while it's mentioned in the docs, it's not in the example config (and the naming apparently could be better)

in your `.stylintrc` or options config just do:
[code]

lemme know if that works

[2016-01-27 10:19] corysimmons commented on #239
Is that just an array of each property? It might get pretty hairy having to manually type in dozens of properties. Is it possible to throw a little regex in there?

[code]

I know this seems specific, but I really am about to drop a bunch of tools that do this kinda stuff and I <3 Stylus.

[2016-01-27 18:28] rossPatton commented on #239
yeah, it was just a quick and dirty fix for another user who wanted transparent mixins to not trip the invalid property rule. i could look into using regex for it.

[2016-01-27 21:16] corysimmons commented on #239
That'd be awesome, thanks!

[2016-01-31 12:23] Nitive opened #240 "`mixed` and `trailingWhitespace` emit warnings when use few spaces before comments"
[code]
First comment emit `mixed spaces and tabs` and `trailing whitespace` with that config:
[code]
Space between rule and comment should contain only spaces because tabs can has different size.

---
OS X
stylint@1.3.6

[2016-02-02 10:40] Daghall opened #241 "Incorrect # of spaces for indent, in nested objects"
Version: `1.3.6`
OS: `Mac OS X 10.11.3`

test.styl:
[code]

.stylintrc:
[code]

Output:
[code]

[2016-02-04 03:22] mrosata opened #242 "Leading zeros for decimal point Warning matching decimals greater than 9"
This should only show on numbers such as `0.1` and `0.125` not for `60.5%` or `10.25rem`. I'm using SublimeLinter which in turn uses the npm module `stylint`.

[code]

If this wasn't the place to post this I appologize. I did goto the SublimeLinter-Stylint repo first but after looking through their code a bit it seems that all the output is piped from this module. Thanks!

[2016-02-04 11:59] redders6600 opened #243 "No output when using a `.stylintrc` file."
I'm not sure whether this is an error with my `.stylintrc` configuration, but if I run stylint with a config file in the same directory, I seem to get no output at all, regardless of the content of the `.stylintrc`.

Minimal example:

**.stylintrc**
[code]

**test.styl**
[code]

**Console:**
[code]

[2016-02-09 16:42] kobezzza opened #244 "Invalid warning"
`colons: "never"`

[code]

[2016-02-11 18:42] raphaklaus commented on #202
Seems the same situation of #234

I've solved the issue setting `indentPref` to `true`. Why this configuration can't be `true` by default?

[2016-02-15 05:39] rossPatton commented on #242
should be an easy one to fix

[2016-02-19 20:23] thybzi opened #245 "Doesn't check for dollar sign in loop variable names"
If `prefixVarsWithDollar` set to `always`, it only checks for the var implicit declaration (i.e., places having `=`)
Loop variable names aren't checked. This line passes linter:
[code]
I believe that's not very justly :)

[2016-02-19 21:07] thybzi commented on #231
For me, the following selectors throw `Warning: property is not valid`
[code]

Both represent rule selectors with (bad and ugly) styles below:
[code]

[2016-02-19 21:15] thybzi opened #246 "Efficient checker doesn't work?"
Having:
```"efficient": "always",```

Passing with no warnings:
[code]

And even passing code from option example:
[code]

Is that a bug?

[2016-02-19 21:29] thybzi opened #247 "Custom naming convention format?"
In our projects, we have the following naming convention for component constants and mixins:
[code]

E.g.:
[code]

Of course, I'm not asking to add a special value of `namingConvention` for this (like `BEM`), but I'd like to have a possibility to set the value myself (with RegExp-like string in config or whatever).

Thank you!

[2016-02-19 21:41] thybzi opened #248 "Pass !important with excuse comment"
Usually we avoid using `!important`, but in some cases it is really necessary.

May we add one more value for `noImportant`, for instance `excuse` or maybe `excused` or `explained` or whatever

With this value (`"noImportant": "excuse"`), let's keep reporting the following:
[code]
But pass the following:
[code]
And/or the following:
[code]
And/or maybe even the following:
[code]

I believe that sh

[2016-02-19 21:56] thybzi commented on #248
The true story (very simplified) was about media queries showing and hiding some element depending on window width
And about jQuery code applying `style="display: block/none"` depending on some AJAX loading status.
Of course that is bad to recalculate these values on window resize (duplicating media queries behavior).
(You may say: why not set `style="display: none"`, and remove it instead of `dis

[2016-02-19 22:07] thybzi commented on #245
By the way, it would may be good to have an option/value for dissallowing "common" variable names without dollar sign, but allowing them for mixin arguments. That mean, to enable current behaviour after this certain bug is fixed

[2016-02-21 01:44] globexdesigns opened #249 "`namingConvention` rule should be separate for classes/ids vs. variables"
It would be nice if you could define 1 namingConvention for variables and a different namingConvention for classes/ids.

In my case, I want classes and ids to be camelCase, but I want variables to be UPPERCASE. At the moment, there is no way to do this.

[2016-02-21 13:41] thybzi opened #250 "Check imports for type and for using file extension?"
I believe *stylint* is missing the following two options for checking import constructs:

1. **`"importExtension"`**: `"always"` | **`"never"`** | `"css"` *(or maybe `"cssOnly"`)*  | `false`
`"always"`: prefer `@import 'mycomponent.styl'` over `@import 'mycomponent'`
`"never"`: prefer `@import 'mycomponent'` over `@import 'mycomponent.styl'`
`"css"`: same as `never`, but allow `@import 'vendorcomp

[2016-02-21 14:09] thybzi opened #251 "Multiple checkers fail on nested hash structures"
Having this:
[code]

Linter output:
[code]

Warnings for `about` and `search` "invalid properties" can be suppressed by quoting these keys: `'about'` and `'search'`. For nested keys like `size` even quoting doesn't make any sense.

P.S. However, single-level hash passes every linter:
[code]

[2016-02-21 14:25] thybzi commented on #251
Also it's quite wierd that linter doesn't pay attention to color values in the first nested hash
(I think that could be somehow connected with successful passing for single-level hash)

This rule also applies if I have two color items in each nested hash.
In the following construct both colors for `search` item are reported, and both for `about` item aren't reported:
[code]
(And if I swap `search`

[2016-02-23 11:33] gearmobile opened #252 "Stylint - leading zeros for decimal points are unecessary"
I think, in this case, the error message **looks a bit strange**?

![stylint-leading zeros error](https://cloud.githubusercontent.com/assets/8580397/13250305/44f97ee2-da3a-11e5-8b49-b1cf03548113.png)

[2016-02-23 18:51] acidjazz commented on #243
I believe this is a result of you mis-typing the config option, it should be globalDupe, not globalDupes, but I still think this is an issue being that it just breaks it instead of erroring on a non-existent config option.

[2016-02-23 18:57] acidjazz commented on #243
Actually I think it requires the entire example .stylintrc file to work

[2016-02-25 17:59] maranomynet opened #254 "`stroke`and `stroke-width` properties classified as selectors"
This Stylus code

[code]

triggers this warning

[code]

[2016-03-04 06:06] SummerWish opened #258 "invalid "missing colon between property and value""
[code]

[2016-03-07 12:17] nicgordon commented on #242
Nice work @maranomynet. I'd like to see this fix merged in.

[2016-03-07 15:13] maranomynet commented on #242
Actually, looking at the source and tests, while fixing this bug (and a couple of other PRs), it seems like big parts of this linter need a complete rewrite/redesign. Some bits seem to only work by pure luck. :-/

[2016-03-07 23:24] scottyschup commented on #237
Not quite the same (but related, and probably addressing one will fix the other) the same warning appears with nested rules:

[code]

Since that ability to create nested rules is one of the strengths of stylus, it seems like this use case should be accounted for.

[2016-03-18 17:17] #252 closed

[2016-03-21 09:39] SamZeng opened #262 "How to ignore some hack rules"
Like IE6 `_` and IE7 `*`, I think just support to custom ignore some rules.

Atom version: 1.6.0
Stylint version: 1.2.2

![tips](https://cloud.githubusercontent.com/assets/2367250/13914876/3e9fded0-ef8c-11e5-9d44-216a20beeede.png)

[2016-03-21 19:07] rossPatton commented on #262
you might be able to use https://github.com/rossPatton/stylint#transparent-mixin-use--array- to accomplish this

since mixins can be used as properties in stylus you should be to just mark any custom ie properties as 'mixins' and stylus will ignore them

[2016-03-21 19:07] #262 closed

[2016-03-22 23:23] wojciechczerniak opened #266 "Only first occurrence of warning per line is reported"
![stylint-columnno-1](https://cloud.githubusercontent.com/assets/4718998/13970874/f4c9867a-f08b-11e5-907c-cf23e5e13afa.png)

There are two identical mistakes in this line: `color rgba(0, 0, .7, .5)` and only one of them is reported. If you fix a warning the next mistake will be found and that's ok, eventually all of them will be fixed. But having 150 warnings and after fixing few of them still hav

[2016-03-27 08:12] SimenB opened #269 "Proposed changes for 2.0 release"
Mostly to kick of the convo, and try to centralise it, I'll try to compose a list of potential breaking changes for a 2.0 release.

I'll just throw together a quick list now, can probably be expanded quite easily :smile:

* Merge `this.cache` and `this.config` (https://github.com/rossPatton/stylint/pull/264#issuecomment-202013173)
* Instead of caching a formatted string in `this.cache.warnings` &

[2016-04-01 13:16] felipenmoura opened #271 "Preferred Single Quote doesn't allow me to use double quotes, even in content"
Hi.
I am using the stylint with Preferred Single Quote enabled.
But it fails on this code:

[code]

It should allow me to use in that situation.
It still blocks it even if I scape it with \", and using `&quote;` will not work either.

What am I supposed to do? Disable this validation?!

Thanks.

[2016-04-01 17:02] rossPatton commented on #271
you're right, that SHOULD work, but it's possible the regex for that test doesn't take into account empty strings like that.

in the meantime, until it's fixed, there are annotations you can use to disable errors

[code]

[2016-04-02 23:28] #254 closed

[2016-04-09 17:24] wojciechczerniak commented on #269
I agree with all the points.

It would be a lot easier to unit test rules/checks if they returned an object with `message, column, severity, result` or `null` if not found. Then all those results could be added to single `this.cache.warning/error` array and passed to reporter at the end as you proposed. Maybe checks should also get settings as param, and don't read `this.cache` directly. We could

[2016-04-10 00:51] SimenB commented on #269
I've created a `v2` branch off of `develop` now, thought to keep the breakage in there until closer to release. I've rebase #274 off of develop, should be able to wrap it up soon ish, as breakage won't matter (much)

[2016-04-10 20:02] wojciechczerniak opened #275 "placeholder vs placeholders"
Readme says [placeholder](https://github.com/rossPatton/stylint#placeholder--default-always-always--never--false-) but code says [placeholders](https://github.com/rossPatton/stylint/blob/master/src/checks/index.js#L24). An easy fix, but which one is correct? Or both?

[2016-04-11 17:18] rossPatton commented on #275
it should be placeholder, thanks for noticing that

[2016-04-11 17:50] SimenB commented on #269
Thinking about it, how about passing in a single object to checks, like eslint does, containing different stuff, like the line, source, config and a reporter function? http://eslint.org/docs/developer-guide/working-with-rules#the-context-object

We don't have AST, but the current regex solution works fine, so no need to return anything. For testing purposes, just passing a mock as `context.report`

[2016-04-11 19:53] wojciechczerniak commented on #275
I was working on PR when I realized this can be a breaking change.

If someone has figured it out and set `placeholders` correctly it will stop working for them. If someone had `placeholder` this check doesn't work for them anyway.

Or we can leave it like that and just adjust readme, other config options: `brackets`, `colons`, `semicolons` are plural too.

[2016-04-11 20:01] SimenB commented on #275
Fix readme now, and fix implementation in V2?

[2016-04-13 02:32] gscottolson commented on #269
👍

[2016-04-13 17:01] wojciechczerniak commented on #246
Fixed with #276 ?

[2016-04-13 21:35] eddiemonge opened #278 "preferGlobal"
Would you consider making `preferGlobal` false as it throws warnings in npm when installed locally or as a dependent of something else?

Or even consider splitting the cli portion out to its own package?

[2016-04-14 01:18] rossPatton commented on #278
we should probably set it to false, i'll look into doing that in the next update

thanks

[2016-04-14 08:48] nacho-gil opened #279 "Root Reference"
Stylint fails to recognise root references at the start of a selector.

See: http://stylus-lang.com/docs/selectors.html#root-reference

Many thanks.

[2016-04-14 17:22] rossPatton commented on #279
oh, that's cool, definitely need to add that, thanks

[2016-04-16 12:44] wojciechczerniak opened #280 "placeholder check should be smarter"
`@extend` has more advanced syntax than currently supported. With [extending multiple selectors](http://stylus-lang.com/docs/extend.html#extending-multiple-selectors) and [optional extending](http://stylus-lang.com/docs/extend.html#optional-extending) the line can look like:

[code]

and we should catch placeholder preferences not only at the beginning of the line.

Also should support multiple oc

[2016-04-16 13:18] wojciechczerniak opened #281 "Options schemas"
ESLint checks can optionally export [schema for configuration options](http://eslint.org/docs/developer-guide/working-with-rules#options-schemas) which will validate config file. A really nice user friendly enhancement for the future.

[2016-04-19 11:44] GreLI opened #282 "Support check for commas in selectors"
Stylus [supports](http://stylus-lang.com/docs/selectors.html) separation of rule sets in selectors with commas and without, just with a newline. E.g.:

[code]
It's worth to add a rule to check presence of commas in selectors. For example:
[code]
(`false` by default for backward compatibility.)

[2016-04-28 08:04] wojciechczerniak commented on #266
Note to self: Found [a way](https://github.com/rossPatton/stylint/pull/265/commits/7f11a0feb7a5e06f3256ef564fa505070a7f8173#diff-fd5e472dcb368f902d49b0020446a5f3R21) to report all occurrences of regExp. Now a DRY method would be nice. Maybe in v2 `this.reporter` from #269 can handle this.

[2016-04-29 10:14] chodorowicz opened #288 "Wrongly reporting missing semicolon for parent reference"
I'm using `box-sizing: border-box;` rule and stylint reports missing semicolon on parent references.
Both CLI and Atom plugin.
[code]

![image](https://cloud.githubusercontent.com/assets/119451/14913528/f2f1140e-0e03-11e6-85be-bc4bfc7130a7.png)

[2016-04-30 18:36] MickaelBergem opened #290 "Executable return value should be non-zero if errors"
I am using Stylint as part of my CI process. If the code quality is not satisfactory, calling the command `stylint` should **return a non-zero code**. It is easier for the CI platform to detect the failures, and it is a common practice for the tools used in CI.

Basically I would like the following code to not display "SUCCESS" (the `&&` would not execute the remaining command if the first one was

[2016-05-03 04:09] #290 closed

[2016-05-03 18:21] eugenet8k opened #293 ""Unnecessary colon found" for Conditional Operator"
Wondering if there is a way to improve expressions like:

`color color-hover != null ? color-hover : color`

to avoid syntax check errors:
<img width="768" alt="stylus-warning" src="https://cloud.githubusercontent.com/assets/4804824/14993723/013a9d80-1121-11e6-80ab-3e7807e69bbd.png">

[code]

[2016-05-04 10:17] nayaabkhan opened #295 "Using css-module's :global gives "is not a valid property""
So I am using stylus in conjunction with css-modules. I have a few files that are supposed to have a [global scope](https://github.com/css-modules/css-modules#usage-with-preprocessors). I am declaring all styles in that file like this:

[code]

The linter gives me a `Warning: property is not valid` on the first line. Any idea how it could be fixed? I feel a good long term idea would be to incorpor

[2016-05-04 11:10] benedfit opened #296 "v1.3.9 erroring"
As of `v1.3.9` styling errors with the following message:

[code]

[2016-05-04 18:40] SimenB commented on #296
@wojciechczerniak

[2016-05-05 00:30] oliverbenns commented on #295
[code]

or, change `"valid": false,` in .stylintrc

[2016-05-05 08:57] nayaabkhan commented on #295
Cool, will try your suggestion out today.

I agree, adding the support to the core linter could make sense only if it makes its way into the standard. But yeah, a way to easily configure ignoring it's constructs silently would be very convenient.

[2016-05-05 09:54] nayaabkhan commented on #295
I went with `// @stylint ignore`, because I think turning off `valid` isn't such a good idea. Though I still feel having some cleaner way to support css-modules constructs could be very useful seeing a rise in its adoption.

[2016-05-05 09:54] #295 closed

[2016-05-05 09:57] oliverbenns commented on #295
Yeah. Remember you will also need to add this comment anytime you use the `composes` declaration too as this is also invalid.

[2016-05-05 10:00] nayaabkhan commented on #295
I just used `"mixins": ["composes"]` to make that work. Not a huge fan of the comment way of ignoring 😄.

[2016-05-05 17:31] rossPatton commented on #295
yeah, the functionality for mixins is maybe not super clear

because stylus lets you use mixins transparently, ie, like a property, it can trip up the valid check. but with the mixins rule you can whitelist any property/mixin you want, which makes it easy to support things like css-modules, etc

If css-modules seems like it'll stick around I have no problem adding composes to the default whitelist

[2016-05-05 17:32] rossPatton commented on #293
that's a good suggestion, I can look into it

[2016-05-07 11:40] nayaabkhan commented on #231
@rossPatton I think I've figured what's going on here.

Psuedo selectors validation is totally not working:

[code]

For matching Pseudo selectors, we simply try to match with the HTML tag in the selector itself. So, even `a::-anything-here` validates too! And hence `a::-webkit-scrollbar` and `a::selection` validate.

The reason why `::-webkit-scrollbar` doesn't validate is that we use this check

[2016-05-08 04:36] nayaabkhan commented on #231
@thybzi It is interesting you want to style the `meta` tags? Never thought it is possible to style them. Can you share in what scenario would you want to style them?

[2016-05-09 04:08] #231 closed

[2016-05-10 13:49] jackbrewer opened #299 "Possible regression with "duplicates" in 1.3.9"
Hi, I've noticed some duplication warnings appearing after updating Stylint to latest.

The problem is with a multi-line selector, which doesn't use a separating comma. I remember the issue being raised in #58 but was marked as 'wontfix'. This has me a little confused, as I use this format all the time, but have only started receiving warnings as of 1.3.9.

Can you confirm whether 1.3.9 introduced

[2016-05-10 22:18] qm3ster opened #300 "duplicate property in [from, to] @keyframes"
[code]
yeilds `duplicate property or selector, consider merging`

What is the suggested improvement?

[2016-05-11 02:28] nayaabkhan commented on #210
@PalleZingmark Cannot reproduce this one on the latest. Could you update stylint and try again?

[2016-05-11 02:29] nayaabkhan commented on #229
@igorfv Could you share the `.styl` file causing the trouble?

[2016-05-11 18:31] igorfv commented on #229
I'm sorry, I left the company this year and I don't have it anymore, I think it's better to close this issue anyway =/

[2016-05-12 02:25] nayaabkhan commented on #229
@igorfv Thanks, please close the issue. 😉

[2016-05-12 13:35] #229 closed

[2016-05-17 02:38] lyt9304 opened #301 "in valid check, can't handle selector like 'ul.classA.classB'"
In our stylus code, there may be a selector like:`ul.classA.classB`.

It should be ok with valid check, because `ul` is a valid tag name.

But actually, stylint will report a warning, that is:

[code]

I read the source code, then I found that

[code]

stripRe only match one class name or one id name,  it cause problem when I use 2 or more class names or id names.

Maybe we can match more of condi

[2016-05-17 03:09] lyt9304 opened #302 "using a url link like "http://a.com" as a mixin parameter will cause line comment warning"
We have a mixin using a URL as parameter, when we calling mixin, and pass a URL like:`http://a.com/a.png`.

Stylint will report a warning like:

[code]

It seems like '//' in 'http://' is recognized as a comment mark

I read the source code, and I found that before check stylint ignore the url in url().

But still need to think about maybe there will be some other place that we will use URL link,

[2016-05-17 03:46] lyt9304 opened #303 "Can we use an ast to extend stylint?"
Stylint is using line scan to check the code.
But I think Line Scan may be not strong enough for check code.
There are many things that we can't decide which one it is just through one line.
Using stylus ast could be easier to check some rules than line scan, and will have more accuracy.

Actually I'm working on extension of stylint because my company is using stylint to check our stylus code, and

[2016-05-17 09:01] SimenB commented on #303
I think using AST would be much preferable to regexes. I tried (for like an hour) some months ago to use the core stylus package to parse files, but I didn't get any way with it. Have you had success implementing it?

I suppose the best thing would be if somebody implemented stylus support as a postcss plugin, then you'd be able to use stylelint directly

[2016-05-17 09:25] lyt9304 commented on #303
stylus exposed parse module, I tried:

[code]

the stylus code

[code]

generates ast:

[code]

[2016-05-17 13:53] vtfn opened #304 "Get list of error and warnings with the node api"
Is there an way to get a list of errors, with the corresponding severity, message e position in the file, using the node api?

[2016-05-17 15:39] thybzi commented on #231
@nayaabkhan

I had the following case (simplified):
[code]
[code]

And then we were requested to add some microdata tags into this block.
E.g. http://schema.org/Person
[code]
Thus, we have double space between `<small>` and `<a>`

[2016-05-17 17:20] rossPatton commented on #301
good idea, that's a very common use case. shouldn't be hard to accomodate

[2016-05-17 17:23] rossPatton commented on #303
this would be much preferable to regex. when I started this project I wasn't aware of AST, looking back I would have gone that route instead

i would prefer the postcss route - it seems like things are going in that direction

it might even make more sense to just have a preset for tools like https://github.com/stylelint/stylelint (which I find to be very lacking, but it is an AST powered extendab

[2016-05-17 18:26] vtfn commented on #304
never mind. I see I can do what I want using the json reporter

[2016-05-17 18:57] rossPatton commented on #231
that's actually a very good use case @thybzi

[2016-05-17 20:58] vtfn commented on #304
is there a way to get the column where the error has been caught?

[2016-05-18 02:20] nayaabkhan commented on #231
@thybzi Yep a good case for targeting `meta`s. It should be quick to whitelist it.

[2016-05-18 05:44] thybzi commented on #231
Similar cases could appear for `<script>` and `<style>`

[2016-05-18 17:57] vtfn opened #306 "Visual Studio code extension"
I wrote a little extension to integrate stylint into Visual Studio Code.
If it won't be a problem, could you list it along with the others (Sublime Text and Atom) in your README?

The link to the repo
https://github.com/vtfn/vscode-stylint

[2016-05-18 19:12] rossPatton commented on #306
awesome, thanks for this! will add soon

[2016-05-22 16:06] FezVrasta opened #308 "Load stylintrc from package.json?"
With stylelint (and eslint etc) I'm able to load the configuration from the `package.json` file.

How can I do the same with stylint?

Thanks.

[2016-05-22 17:08] FezVrasta opened #309 "Doesn't support glob paths?"
If I try to use:

    stylint ./app/**/*.styl

it throws an error saying that the file was not found, seems like it doesn't support the syntax?

[2016-05-22 18:47] SimenB commented on #309
Hmm, probably not. You can do `stylint app/` though, and the same glob is applied

https://github.com/rossPatton/stylint/blob/master/src/core/read.js#L20

[2016-05-22 18:48] SimenB commented on #308
No support for it atm

[2016-05-22 18:55] FezVrasta commented on #309
Thanks but I need it to support glob to work properly with lint-staged and other stuff...

Any chance to get a fix for it? It seems like the problem is the `fs.stat` function that doesn't support the glob syntax. Couldn't it just use `this.getFiles` when the path is defined?

[2016-05-22 18:56] SimenB commented on #309
Probably! Wanna give it a go? PRs welcome 😄

[2016-05-22 18:56] FezVrasta commented on #309
Never worked with glob stuff... I'm already trying to get it to work, will send a PR if I end up with something

[2016-05-25 16:16] FezVrasta opened #312 "Are you aware of any Brackets editor extension for stylint?"
I'm looking for it but I can't find anything. Thanks!

[2016-05-26 10:32] SimenB commented on #312
Not that I've heard of. I don't use Brackets though, so haven't been on the lookout either

[2016-05-27 11:28] Kamilius opened #313 "No output while trying to run"
stylint version: 1.3.10
OS: MacOS X El Capitan

.stylintrc:
[code]

When I'm trying to run `stylint` on a whole project's directory, it looks like hanging (longest I've been waiting ~9minutes) without giving any output after command call.
Execution is easilly terminated with `ctrl+c`, without any delay.

Also exact same problem appears, when I'm trying to lint a directory, which directly doesn't h

[2016-05-27 18:33] tamird opened #314 "false positive: "value on this line could be more succinct""
Here's the error in question:

Error: the value on this line could be more succinct
File: styl/partials/layout.styl
Line: 540: padding 0 0 20px 0

We worked around it here: https://github.com/cockroachdb/cockroach/pull/6948/files#diff-49afd9210ee083373de7270b062f368bL540

I think this is a false positive because those 0 paddings may override padding from another source earlier in the evaluation or

[2016-05-27 18:56] rossPatton commented on #314
I understand the frustration but this appears to be working as intended. That check basically looks at `padding 0 0 20px 0` and sees that it could be written as `padding 0 0 20px` with the same result. It doesn't have the contextually awareness to know that you are purposely overriding a previous rule.

Your workaround is fine, but you can also make use of the ignore comment like so: `padding 0 0

[2016-05-27 18:58] tamird commented on #314
Thanks! That's a bummer.

We don't like it very much - that UI is currently being re-written in react (see ui/next) :)

[2016-05-27 19:02] #314 closed

[2016-05-27 22:54] PalleZingmark commented on #210
@nayaabkhan Confirmed, cannot reproduce this one on the latest.

[2016-05-27 22:54] #210 closed

[2016-05-31 09:07] Kamilius opened #315 "Rule "semicolons: 'always'" doesn't work for variables."
stylint version: 1.3.10
OS: MacOS X El Capitan

.stylintrc:
[code]

I have a separate file with colors, in format:

[code]

When I try to lint this file, linter's not detecting missing semicolons.

[2016-06-01 12:28] webdif opened #316 "Keyframe interpolation not valid"
Stylint display the `property is not valid` warning for this valid code:
[code]

After checking the regexp in `valid.js`, it seems that we search for a non-whitespace string (`\S`).
Indeed, without spaces, it works:
[code]

But it is not very readable. I figure that I can add parens to "force" stylint to interpolate, so this works as well:
[code]

Better, but still, parens are not needed for stylu

[2016-06-01 15:50] FezVrasta opened #317 "Wrong indentation error on multi line properties"
![image](https://cloud.githubusercontent.com/assets/5382443/15716107/4e86eba4-2821-11e6-8c3d-ec9e35883a10.png)

in this case, it shouldn't warn me about the indentation I think.

[2016-06-02 20:32] kevinSuttle opened #318 "@block syntax triggers duplicate property error"
Whether you import `@block`s from another .styl file or you declare them in the file you're in, the duplicate property error is triggered in stylint.

It doesn't like the interpolation syntax denoted by brackets, it seems.

<img width="768" alt="screen shot 2016-06-02 at 4 31 39 pm" src="https://cloud.githubusercontent.com/assets/95672/15760063/8fbe9e0a-28df-11e6-8ded-bcfedd627e36.png">

[2016-06-02 21:20] ucarion opened #319 "Is there a .stylintignore or equivalent?"
I'd love to have something similar to .gitignore, but for excluding certain files from linting.

Edit: I see how that there's an exclude option -- I'm not sure how you'd handle both a .stylintignore and an explicit exclude in .stylintrc

[2016-06-02 21:54] ucarion commented on #296
I'm getting a similar error on `1.3.10`:

[code]

[2016-06-02 22:04] SimenB commented on #296
@wojciechczerniak @rossPatton
Is this a change that should be reverted?

[2016-06-02 22:07] SimenB commented on #296
This is #272

[2016-06-03 08:35] wojciechczerniak commented on #296
@SimenB since it says `Object #<Glob> has no method 'match'` I guess it's related to commit [Don't depend on minimatch](https://github.com/rossPatton/stylint/commit/1c3b60a3641a2069f283846937325b27036c46ad) because we map all patterns to different object now. `match` is a method in [minimatch](https://github.com/isaacs/minimatch) and probably does not exist in `glob`.

We need to update `getFiles.

[2016-06-03 08:39] SimenB commented on #296
Glob is minimatch under the hood.

A random quote from glob's readme also suggests that should work.

[2016-06-03 08:45] wojciechczerniak commented on #296
Glob object is created but without the `match` method to call. Maybe a case when wrong pattern is configured?

[2016-06-03 08:49] SimenB commented on #296
Hmm, yeah.

@benedfit @ucarion could you post your `.stylintrc`?

[2016-06-03 08:53] benedfit commented on #296
[code]

I guess it's falling down on the exclude patterns

[2016-06-03 09:06] SimenB commented on #296
That seems perfectly valid.

I'm not on a computer now, but I'll take a look later today.

I can't see if we have any tests for `exclude` (opening the test file actually crashes chrome on my phone...), seems like it should have caught this

[2016-06-03 17:15] kevinSuttle opened #320 "CSS Custom Property syntax throws 2 errors"
<img width="589" alt="screen shot 2016-06-03 at 1 14 34 pm" src="https://cloud.githubusercontent.com/assets/95672/15786932/2d0f9a94-298d-11e6-9771-2da78861b308.png">

[2016-06-03 17:50] ucarion opened #321 ""unnecessary colon found" for pseudo-selectors after &"
I haven't tried finding a more precise failing test case, but when I run `stylint` on the following file:

[code]

With the following `.stylintrc`:

[code]

I get the error:

[code]

Which is incorrect -- removing those colons would produce invalid CSS.

[2016-06-04 22:56] rossPatton commented on #312
i am not aware of any at the moment - feel free to make one!

[2016-06-04 22:56] #312 closed

[2016-06-04 22:57] rossPatton commented on #319
a `.stylintignore` file is a good idea, in the mean time there is the excludes option as you've noticed

[2016-06-04 23:02] rossPatton commented on #316
one of the many failings of using regex to parse code. almost impossible, especially with stylus, to account for all the different ways we write. i'll take a look at fixing this

[2016-06-05 09:23] SimenB commented on #296
@wojciechczerniak You're right, calling returning the minimatch instance from the glob works. Nice find! Opened #322, but should add some tests...

[2016-06-07 07:49] Kamilius opened #323 "SVG text-ancor: middle; css property throws two lint errors"
OS: Mac OS X

Styling my inline SVG component with CSS styles and having two errors, which appear for a single line:

`text-anchor: middle;`
[code]

[2016-06-15 04:19] rossPatton commented on #323
this'll be fixed in the next release, thanks

[2016-06-15 04:32] rossPatton commented on #321
should be fixed in next release

[2016-06-15 09:37] hikkyu commented on #315
Hi!

It seems to be the same with:

[code]
It breaks only on `color` property with `"semicolons": "always"`

[2016-06-16 05:15] #296 closed

[2016-06-16 05:15] rossPatton commented on #323
1.4.0 is out, and this issue _should_ be fixed

if not I will re-open

[2016-06-16 05:15] #323 closed

[2016-06-16 05:16] rossPatton commented on #321
1.4.0 is out, and this issue should be fixed

if not I will re-open

[2016-06-16 05:16] #321 closed

[2016-06-16 05:16] rossPatton commented on #308
i will probably add this in 1.4.1

[2016-06-16 05:20] rossPatton commented on #319
i have added support for this in 1.4.0, let me know how it works

will re-open if there are issues

[2016-06-16 05:20] #319 closed

[2016-06-16 06:05] SimenB opened #324 "Uncaught exception in 1.4.0"
Hey @rossPatton

Greenkeper built my stylint-stylish module against the latest release, and it errors with

[code]

This change is the cuprit: https://github.com/rossPatton/stylint/commit/023996a60d6b56e3e911563da2bdd78f134f4aca#diff-0ab73be7839ba0db987fd2e8fbe2afa9

I might not initialize stylint correctly in my tests (I haven't had time to look into it), but I thought I'd flag it now

[2016-06-16 06:10] SimenB commented on #324
And of course THe quick fix before going to work makes the tests pass

[2016-06-16 07:18] EMCP commented on #324
glad this wasn't just me

[2016-06-16 15:52] #324 closed

[2016-06-16 15:54] rossPatton commented on #324
1.4.1 is out and should fix this, thanks for flagging

[2016-06-17 03:43] rossPatton commented on #309
@FezVrasta there should be better support for this in the latest version

will re-open if not

[2016-06-17 03:43] #309 closed

[2016-06-17 05:38] rossPatton commented on #299
not aware of a regression, but basically stylint just wants this syntax

[code]

without the comma, it just looks like repeating selectors

i would gladly welcome any prs that would improve this, if you have any ideas

[2016-06-17 05:38] #299 closed

[2016-06-19 01:38] rossPatton commented on #304
not at the moment

[2016-06-19 03:24] rossPatton commented on #246
this appears to be fixed

as for:

[code]

I don't consider this a bug, as there are valid reasons why you'd want to use the individual properties as opposed to a shorthand

[2016-06-19 03:24] #246 closed

[2016-06-19 07:51] rossPatton commented on #320
this should no longer error in the latest version

[2016-06-19 07:51] #320 closed

[2016-06-19 07:51] rossPatton commented on #315
this should be fixed in the latest version (1.5.0)

[2016-06-19 07:51] #315 closed

[2016-06-19 07:52] rossPatton commented on #308
i've added support for this in 1.5.0, see the readme, let me know if you have any questions

[2016-06-19 07:52] #308 closed

[2016-06-19 07:52] rossPatton commented on #302
should be fixed in 1.5.0

[2016-06-19 07:52] #302 closed

[2016-06-19 07:53] rossPatton commented on #304
i have added line columns to _most_ of the checks, closing for now

[2016-06-19 07:53] #304 closed

[2016-06-19 07:55] rossPatton commented on #288
I can't replicate this issue, try upgrading to 1.5.0?

[2016-06-19 07:55] #288 closed

[2016-06-19 07:56] rossPatton commented on #280
it's a little smarter now, gonna close this and just reference #269 since that's the real issue here

[2016-06-19 07:56] #280 closed

[2016-06-19 07:56] rossPatton commented on #278
this is now fixed

[2016-06-19 07:56] #278 closed

[2016-06-19 07:57] rossPatton commented on #279
this should be supported now (as of 1.5.0)

[2016-06-19 07:57] #279 closed

[2016-06-19 07:57] rossPatton commented on #275
gonna close this, best case scenario might be to just support both names

[2016-06-19 07:57] #275 closed

[2016-06-19 08:19] rossPatton commented on #271
this very specific case should be fixed in 1.5.1

[2016-06-19 08:19] #271 closed

[2016-06-19 08:23] rossPatton commented on #258
this should be fixed in 1.5.2

[2016-06-19 08:23] #258 closed

[2016-06-19 08:57] rossPatton commented on #240
this should be better in 1.5.3

[2016-06-19 08:57] #240 closed

[2016-06-19 11:14] rossPatton commented on #243
the example is the default fallback config. if -any- config is passed, from `.stylintrc` or elsewhere, it'll use that instead

checking for invalid config options is a good idea though, i'll make a separate issue for it

[2016-06-19 11:14] #243 closed

[2016-06-20 18:30] Arcanemagus opened #326 "v1.4.1 and beyond require a package.json in the cwd"
As discussed over [here](https://github.com/AtomLinter/linter-stylint/issues/27), v1.4.1 and beyond _require_ a `package.json` file in the current working directory due to [this line](https://github.com/rossPatton/stylint/blob/736cdf4feef2b4e565d6b6b5eba62ec1191bf75a/index.js#L31).

This causes problems if `stylint` is being run in a directory that doesn't contain a `package.json`.

[2016-06-21 04:23] anjianshi opened #327 ""missing colon" in nesting selector"
[code]
`missing colon between property and value at line 2 col 5`

stylint 1.3.10

.stylintrc
[code]

[2016-06-21 07:12] SimenB commented on #326
Should be fixed https://github.com/rossPatton/stylint/commit/37c2bf8cdd7776710a60e45a36d199e5e8fd1d99

[2016-06-21 07:12] #326 closed

[2016-06-21 08:48] fdeneux commented on #239
+1 That would be awesome indeed.

[2016-06-21 09:37] chodorowicz commented on #288
I'm getting missing semicolon now on HTML tags

![image](https://cloud.githubusercontent.com/assets/119451/16224828/17932350-37a4-11e6-9fe7-1faa37dead14.png)

files
https://gist.github.com/chodorowicz/981f8fd41fd96057c7728c352c86c5cf

[2016-06-21 16:38] rossPatton commented on #326
my bad everyone. this is why you don't code at 4am

[2016-06-21 16:59] Arcanemagus commented on #326
Cool, looks like the CI builds over there are still failing so I'll see where the problem is now 😛, thanks!

[2016-06-21 19:25] vtfn commented on #304
You've also changed the message formating. Now both my vscode code extension and the stylish reporter are broken. My vscode extension relies on the message formating, the stylish reporter I don't know. I don't care change my extension but it would be good to know if it's possible any future changes in the formating. Would it be possible to keep consistense for now on?

[2016-06-21 19:52] SimenB commented on #304
@vtfn What do you mean "broken"?

[2016-06-21 20:14] rossPatton commented on #304
hmm, what goes into the reporter function shouldn't have changed. so reporters shouldn't have been affected.

the main change, that I think might be causing your issue, was adding a setting to group the output by file type (groupByFileType). I added it as a config option specifically because I didn't want to break any reporters

when set to false the output is the same as it used to be, when set t

[2016-06-21 21:07] SimenB opened #328 "Breaking change in 1.5.0"
This change broke stylish reporter: https://github.com/rossPatton/stylint/commit/b041916c84322b8073c0a333fbe2b900ff7331ef

You check your own message, not including cache, in done.js. So no output from stylint-stylish

[2016-06-21 21:31] SimenB commented on #304
Stylish reporter should be fixed when #329 is published.

I also added column to stylish reporter in `1.3.0`

[2016-06-21 21:47] vtfn commented on #304
@SimenB It's not showing any outputs.

@rossPatton Sorry I can't find where I should set groupByFileType. could you give me a light?

[2016-06-21 21:48] SimenB commented on #304
@vtfn Yeah, that'll be fixed when #329 gets published.

WRT to the option, see https://github.com/rossPatton/stylint#options `groupOutputByFile` is there

[2016-06-21 21:51] #328 closed

[2016-06-21 21:59] vtfn commented on #304
@SimenB  I that's the one place I didn't look. Thanks and sorry for such a stupid question. Setting this to false dind't help but I think I finally find my way through this problem. Thank you both.

[2016-06-21 22:02] SimenB commented on #304
It's `false` by default. But try with the version Ross published 5 minutes ago, it fixes the stylish reporter. If you parse stdout it probably fixes your stuff as well 😄

[2016-06-21 22:21] vtfn commented on #304
Yeah. Still don't got it. rs.
I was going to use the "messages" property in the "cache" object. But it's also new. I really don't care changing my extension as I think there's no excuses to not update the linter. but I if the next versions change again in this manner, I would, again, have to change my extension, and that would not be good.

[2016-06-21 23:19] rossPatton commented on #304
i have no intention to make any more changes to the way reporters or the output works

[2016-06-21 23:26] vtfn commented on #304
Ok. I will update my extension. I don't have much time to spend thinking in a better way to do it so I will keep relying in the formated messages. Thank you

[2016-06-21 23:33] rossPatton commented on #304
no worries, sorry for the trouble

[2016-06-22 08:02] benedfit opened #331 "Feature request: Extend configuration files"
As per eslint (http://eslint.org/docs/user-guide/configuring#extending-configuration-files) is would be great to be able to extend configuration files via shareable configuration packages (http://eslint.org/docs/user-guide/configuring#using-a-shareable-configuration-package)

[2016-06-22 11:20] vtfn opened #332 "namingConvention fails"
using namingConventio = camelCase I got erros with varibles like this:
[code]
But no error is thrown to this
[code]
Fails with code that should warn. Like this
[code]
But complain about this
[code]

When set to ```lowercase-dash``` it doesn't warn with code a name like
[code]
But an error is thrown with
[code]
It also fails in placeholders

[2016-06-22 16:08] jszpila opened #333 "same property for different classes/elements triggers duplicate rule"
Getting the message:

When I have the same property on different elements or classes. This seems like unintended behavior, unless I'm missing something.

Below is the entirety of my .stylus file; as you can see, the only duplicate property is margin. If I disable the duplicates rule it works fine, but obviously doesn't do what I'd like (find duplicated properties within the same class or element),

[2016-06-22 17:28] rossPatton commented on #332
see https://github.com/rossPatton/stylint#namingconventionstrict--default-false-true--false-

[2016-06-22 17:28] #332 closed

[2016-06-22 19:34] darkfrontcode opened #334 "columns dosent work"
hi, with this config below, console should warning when have columns in my code, but this particular property dosent work.

"colons": {
		"expect": "never",
		"error": true
}

[2016-06-24 19:10] kevinmpowell commented on #333
I can confirm I'm having this same issue, using stylint 1.5.5 cli.

Source:
[code]

And I get:
`6 duplicates warning duplicate property or selector, consider merging`

I get the same error with and without bracket syntax. Disabling this rule until there's a fix.

[2016-06-26 01:16] rossPatton commented on #333
this should be fixed in 1.5.6

[2016-06-26 01:16] #333 closed

[2016-06-26 01:17] rossPatton commented on #334
this should be fixed again in 1.5.6

[2016-06-26 01:17] #334 closed

[2016-06-27 11:08] thybzi commented on #246
What should exactly this checker check? :)

[2016-06-27 23:36] rossPatton commented on #246
`margin: 0 5px 0` -> `margin: 0 5px`

`margin: 0 0 0 0` -> `margin: 0`

`padding: 5px 0 0` -> `padding: 5px 0`

etc etc

[2016-06-28 11:01] PhiLhoSoft commented on #275
The readme at https://github.com/rossPatton/stylint#options still shows `"placeholders"` which is confusing because when you search this, we don't find it.

[2016-06-28 17:20] vtfn commented on #332
I don't see what you mean. Doesn't this option set whether or not to check other names than the variables?

I've tested it with ```namingConventionStrict``` both true and false and got the same problems.
All names in my code (except ids and classes, which is why I rather keep ```namingConventionStrict``` false) are in cammel case, and ```namingConvention``` is set to cammel, and I got the ```prefe

[2016-07-01 10:15] ryuran commented on #317
[code]
Same bug here for @font-face url declaration :(

[2016-07-01 10:32] ryuran opened #335 "`@stylint ignore` for specific "rules" with explain comment"
Hello!

[code]

Refer to https://github.com/rossPatton/stylint/issues/248
But it seems better to make a generic syntax to disable only specific rule.

Allow `!important` on a line should not allow everything else.

[2016-07-01 13:20] ryuran commented on #299
@rossPatton stylint want it but stylus doesn't need it so, user want choose the rule.
I think this issue should stay open if this code throw a warning.
[code]

[2016-07-01 20:45] rossPatton commented on #299
again, I understand stylus supports no commas, but this is how it is currently. if you want to improve stylint i am very very open to prs or even giving people push access. i would love it if more people contributed or took over the project

[2016-07-01 23:05] ryuran commented on #299
A linter shouldn't throw false error or warning.
A linter shouldn't throw error or warning for something valid in the language and no choose by config.

So it's a bug. It's a bug or an enhancement to do.
An issue should be closed if someone fix it.
Maybe me if I have time to do it.

Without fix, issue should stay open to stay visible to other people.

[2016-07-11 14:39] danijeld opened #336 "Return correct error code after execution"
Can we please have stylint return 0 if no errors are found and 1 if errors are found after it executes?

[2016-07-11 15:16] SimenB commented on #336
It should already: https://github.com/rossPatton/stylint/commit/aa0e1890b4a69b39d93591e036eb38cb23263208#diff-6081bb8ff8dbece71ba61504af4ec274

What version are you using?

[2016-07-11 18:39] danijeld commented on #336
Stylint version: 1.5.6

Here is a list of commands I ran to validate this.

File without issues:

vagrant@vagrant-ubuntu-trusty-64:$ stylint src/
vagrant@vagrant-ubuntu-trusty-64:$ echo $?
0

After introducing errors:
vagrant@vagrant-ubuntu-trusty-64:$ stylint src/
src/views/Settings/settings.styl
48:7  warning  property is not valid  valid

Stylint: 0 Errors.
Stylint: 1 Warnings.
vagrant@vagrant-

[2016-07-12 06:19] SimenB commented on #336
If `maxErrors` is set, the amount must be more than that. You example has a warning, and unless `maxWarnings` is set, warnings will always exit cleanly. See the logic in `getExitCode` from the diff I pasted in my last commnet

[2016-07-13 00:51] eddiemonge opened #337 "Custom Elements"
Is there a way to be able to use custom HTML5 elements while still allowing `"valid": true`?

[code]

[2016-07-13 07:31] eddiemonge commented on #327
Simpler examples:

[code]

[2016-07-13 11:50] thybzi commented on #246
bad example @rossPatton :)
hope that doesn't actually happen, because those are not the same
`padding: 5px 0 0` sets `padding-bottom: 0`
while `padding: 5px 0` sets `padding-bottom: 5px`

[2016-07-13 17:29] rossPatton commented on #246
example updated

[2016-07-14 01:18] eddiemonge commented on #248
Why isn't `// @styling ignore` enough? If you need more info, add your own comment above or below the line explaining why it's being ignored. Adding more to the core of this will only make it more complicated and unnecessary

[2016-07-14 01:19] eddiemonge commented on #327
Probably a duplicate of #244 or at the very least, related

[2016-07-14 02:47] eddiemonge commented on #258
Its not :(

[2016-07-29 08:43] PhiLhoSoft commented on #337
+1 as we use AngularJS templating, where directives can be kept as is in the HTML code. So if we have a `multi-selection` directive, we might want to style `multi-selection.vertical` for example.

We should be able to give a list of custom elements in the configuration.

Personally, I prefer to use a class for that, but I have a legacy project using this...

[2016-07-29 08:50] PhiLhoSoft commented on #303
CSSLint and Stylelint are merging... https://github.com/CSSLint/csslint/issues/668
Would be nice to add stylint to the effort! :wink:

[2016-07-29 08:52] PhiLhoSoft commented on #249
Maybe even distinguish classes from id. I saw projects where ids were FooBar while classes were fooBar or foo-bar, etc.

[2016-07-29 09:21] PhiLhoSoft commented on #239
Some remarks:

- This is not mentioned at all in https://rosspatton.github.io/stylint/
Apparently, this page is out of date with regard to the readme...
- [transparent mixins / custom properties ( Array )](https://github.com/rossPatton/stylint#transparent-mixins--custom-properties--array-) only mentions `customProperties`, we have to go to [Options](https://github.com/rossPatton/stylint#options) t

[2016-07-29 09:42] PhiLhoSoft opened #339 "Stylint chokes on hash syntax"
Stylus supports [hashes](http://stylus-lang.com/docs/hashes.html).
I have a file with the declaration:

	$directions =
	{
		top:
		{
			border-width: 0 ($width * 0.5) $height ($width * 0.5),
			border-color: transparent transparent $color transparent
		},
		topRight:
		{
			border-width: 0 $width $height 0,
			border-color: transparent $color transparent transparent
		},
		// [...] Many more
	}

I

[2016-07-29 09:47] PhiLhoSoft opened #340 "Unrecognized vendor-prefixed properties"
I have the following declarations:

					&:hover
						$placeholder =  black
						color $placeholder
						&::-webkit-input-placeholder
							color $placeholder

						&:-moz-placeholder
							color $placeholder

						&::-moz-placeholder
							color $placeholder

						&:-ms-input-placeholder
							color $placeholder

Stylint chokes on the `-moz-placeholder` lines with "_57:7 colons warning

[2016-07-29 13:22] SimenB commented on #303
Great that they're merging, not sure it matters much to this effort though.

[2016-08-08 05:09] ningt opened #341 "Colons check fail"
Version: 1.5.6

`colons: "always"` check fail for `justify-content: center;`

[2016-08-18 21:24] eddiemonge opened #342 "Still maintained?"
Is this still being maintained? If not, could someone else take over or help out?

[2016-08-18 21:25] rossPatton commented on #342
i do little things here and there, but no, i would not consider this project to be maintained

i have given a few people commit access, but i'd gladly hand over the entire project if someone wants it!

[2016-08-19 07:44] SimenB commented on #342
I try to fix bugs if I'm made aware of them, but as I don't use stylus currently, it's less of a priority actively contributing.

Some day I'll finish up #274, but I that I won't have time for it in the foreseeable future.

Might be a thought to try to prioritize #269, which I think will facilitate easier testing, which should prevent regressions better.

And of course, the dream is #303 😄

[2016-09-13 13:32] renehamburger commented on #337
Defining it as a mixin in .stylintrc is a possible workaround for now:
[code]

[2016-09-13 16:16] eddiemonge commented on #337
Thats what I'm doing now but it gets painful having to add that for every component.

[2016-09-13 16:42] PhiLhoSoft commented on #337
Well, you have to provide a list of valid components to have `valid` to work, no?

[2016-09-13 18:14] SimenB commented on #337
Concating a user-provided list of strings with our own internal list of valid elements shouldn't be a problem. Care to provide a PR?

[2016-09-15 21:46] Arcanemagus opened #343 "Output completely changes depending on if config file is specified"
It seems that if `stylint` is run on a file not in the current folder the output completely changes depending on whether or not there is a configuration file specified:
![image](https://cloud.githubusercontent.com/assets/427137/18568622/e8fdd57e-7b52-11e6-9073-0d24e1ba5d7f.png)

_bad.styl_:

[code]

_.stylintrc_:

[code]

Note that if you attempt this from the directory `bad.styl` is in, it will s

[2016-09-26 12:04] alex-shamshurin opened #344 "How to change a warning color?"
What is option to change blue to yellow?

[2016-09-27 08:30] SimenB commented on #344
There is no option for it, you'll have to provide a custom reporter

[2016-09-27 08:32] SimenB commented on #344
I'm open to change it to yellow in my reporter, if you'd like to provide a PR for it: https://github.com/SimenB/stylint-stylish 😄

You can also provide a PR here as well, I think most people agree yellow makes more sense. But @rossPatton would have to decide if it's a change he wants

[2016-09-27 15:59] alex-shamshurin commented on #344
https://github.com/SimenB/stylint-stylish/issues/50

[2016-09-29 17:45] SimenB opened #345 "Include what rule an error is reported for"
Just as the third argument to `msg`?

[2016-09-29 21:32] SimenB commented on #345
Never mind, I'm just blind!

[2016-09-29 21:32] #345 closed

[2016-09-30 18:11] iDev0urer commented on #327
Any progress on this?

[2016-09-30 18:23] iDev0urer commented on #342
@rossPatton I'd be willing to take the project over

[2016-09-30 18:48] iDev0urer commented on #327
Also happening with selectors like this:

[code]

Upon debugging it looks to be a problem with the way `this.cache` breaks the line up.

[2016-10-02 21:11] rossPatton commented on #342
well, @SimenB has contributed the most, so I feel he should get first dibs

@SimenB you want to take over?

[2016-10-04 21:43] SimenB commented on #342
@rossPatton, sure I can do that!

[2016-10-05 06:14] rossPatton commented on #342
@SimenB request sent!

[2016-10-05 17:05] SimenB commented on #342
@rossPatton Thanks!
@iDev0urer Please do submit PRs. I have no problem adding you as collaborator, just chuck a few PRs my way 😄

[2016-10-05 17:05] #342 closed

[2016-10-05 17:16] SimenB commented on #342
@rossPatton Could you add me as owner on npm as well? Unless it's already done 😄

[2016-10-05 19:00] Arcanemagus opened #350 "colons rule reports incorrect column value"
## Rule

`colons`

## Code to reproduce

_multi.styl_:

[code]

_.stylintrc_:
[code]

## Expected behavior

Column reported as the space between the property and value, or possibly the last character of the value?

## Actual behavior

Regardless of the line content, it always reports column 5 as the offending column.

Tried:

* Adding spaces before the property name
* Making the property name long

[2016-10-05 20:49] SimenB commented on #306
@vtfn Care to provide a PR adding a link to it?

[2016-10-05 20:55] SimenB commented on #343
Probably because of the somewhat dirty lookup in here: https://github.com/SimenB/stylint/blob/master/src/utils/setConfig.js

[2016-10-05 20:57] SimenB opened #351 "Separate tests for core from tests for rules"
Testing globbing, file traversing, error handling, getting config for a file etc should be separate from testing the rules themselves.
This would allow us cleaner separation of concerns, and more readily add regression tests for rules.

Would be way overkill trying to build something like what eslint has, but it is something to aim towards

[2016-10-05 20:58] SimenB commented on #344
@alex-shamshurin I'll accept a PR changing it to yellow in the v2 branch: https://github.com/SimenB/stylint/tree/v2

[2016-10-05 21:04] SimenB commented on #269
@wojciechczerniak I'm going to be trying to push towards this now. Are you around to help with this?
I'll try to spend some time this weekend at least (just moved into a new apartment, might be optimistic)

[2016-10-06 03:38] rossPatton commented on #342
@SimenB should be good now. good luck!

[2016-10-06 09:13] wojciechczerniak commented on #269
I was away from Github recently but I'll try to help.

If were going for breaking changes I would add another one:

- Separate stylint config from rules, like eslint does. Group all rules configuration under `rules` 🎉 node and `reporter, maxErrors, maxWarnings` etc. at root node.
[code]
- Consolidate rule configuration under the rule. For example: `namingConventionStrict` is used by `namingConvent

[2016-10-06 10:28] wojciechczerniak commented on #269
Also I think that proposed above config change would allow for easier rules testing. This way we could call rule with `line` and `ruleOptions` as parameters and just compare returned result with expected ones. Right now we have to set `setting` and `cache` object properties before calling the rule. I'm not sure if we've got separation between tests right now.

Instead of:
[code]

Just call:
[code]

[2016-10-06 10:31] SimenB commented on #269
That sounds good to me!

I'd really like for `this` to disappear personally, but unsure if it's worth the effort.

But rules and reporters should definitely not care about it, they should receive stuff as params, and return a result.
Whether or not internal state beyond that is something on `this` is just that, internal.

[2016-10-07 13:42] wojciechczerniak commented on #269
Cool. So we need a plan.

Refactoring rules so they are pure arguments and return object will touch every file and all test have to be rewritten then (no longer asserts are true/false). Let's do this as the last one and have everything else in place.

I will try to put them in order step by step:
- [ ] Split test for core and rules. #351
- [ ] Config file refactoring:
    - [ ] Move `reporterOptio

[2016-10-07 16:36] SimenB commented on #269
Thanks for structuring it! Please do create issues and tag them with the milestone 😄

A few comments:

A rule shouldn't care about severity, we know that at call time.

If we think fresh, I think making linting a string work should be very easy. Most of the breakage there (IIRC) was to return different stuff, and not call `done` etc. So it should solve itself if we do the other parts.

Yeah I agre

[2016-10-07 16:38] SimenB commented on #269
I created a Project for it (https://github.com/SimenB/stylint/projects/1), might be better than the milestone

[2016-10-07 16:41] SimenB commented on #146
Please follow #274 for this

[2016-10-07 16:41] #146 closed

[2016-10-07 19:09] #306 closed

[2016-10-08 07:46] SimenB opened #354 "Config file structure changes"
[ ] Move `reporterOptions` under `reporter` node.
[ ] Move all rules under `rules` node as eslint does.
[ ] Consolidate rule settings that are used together i.e. `namingConventionStrict` and `namingConvention`.

[2016-10-08 07:49] SimenB opened #355 "Merge `this.cache` and `this.state`"
These are so similar, no need to be separate things

[2016-10-08 07:52] SimenB opened #356 "Rules shouldn't rely on `this`"
They should receive what they need as arguments, and return/invoke a callback with a result.

- [ ] They shouldn't call `this.msg()` internally.
- [ ] They shouldn't use `this` internally, get all data passed as arguments.
- [ ] Return result object: `{ line: 0, column: 0, message: "Colon missing." }`
- [ ] Update all tests.

[2016-10-08 07:54] SimenB opened #357 "Merge `this.errs` and `this.warnings`"
Make sure to include severity in the object.

[2016-10-08 07:58] SimenB opened #358 "Decouple reporter from `this`"
Reporters should get a huge array of stuff to create a report from, and do whatever they want. Not mutate `this.cache.messages`, not call `this.done` etc.

Related to #356

[2016-10-08 08:02] SimenB opened #359 "Look into dropping stampit"
Not sure if we want to put the effort into doing this, but personally I'm not a fan of magical `this`, and much prefer composing a bunch of pure functions together.

As we already will decouple rules and reporters from `this` (#356, #358), what really is left? It'd just be a place to chuck `violations`, or whatever we will call it

[2016-10-08 08:03] SimenB opened #360 "Allow registering custom rules/checks"
Sometime in the future, but this would be great to have

[2016-10-08 08:05] SimenB commented on #269
OK, I think I've opened up issues for most of this now, and added them to the project. Anything missing?

Make sure to pull stuff into in progress if you start work on it, and open PRs on the v2 branch.

I vote for rushing towards 2.0, and then fix bugs after we have a proper testing structure in place, and can easily make regression tests for every case we fix.

[2016-10-08 08:09] SimenB opened #361 "Drop support for node < 4"
Like Eslint has done. This will allow us to use lots of ES2015.

[2016-10-08 08:16] SimenB commented on #269
Also, we should make sure to release alphas as early and often as possible. @wojciechczerniak what's your username on npm? I'll add you there so you are able to push release in case I'm unavailable for some reason 😄

[2016-10-08 08:33] SimenB commented on #269
@danielhusar @tplusrex @awayken you are all collaborators here, are you available to contribute?

@iDev0urer  @Arcanemagus would you be interested in helping out with this effort?

[2016-10-08 08:56] SimenB opened #362 "Remove fancy reporter or make it not default"
That should be offloaded IMO, or at least opt-in
I think we should produce easily parseable string, like http://eslint.org/docs/user-guide/formatters/#compact

[2016-10-08 10:40] SimenB commented on #359
The test suite takes a long time to run. And I think it because of all the shared state, and stuff calling other stuff internally.
While not Stampit's fault, I do think it enables this pattern to easily.

[2016-10-08 10:41] SimenB commented on #358
I'll do this after #363 is merged

[2016-10-08 10:48] SimenB commented on #269
Also pinging people maintaining packages using stylint: @xdissent @guerrero @vtfn @jackbrewer

[2016-10-08 11:01] SimenB opened #364 "Recursively merge multiple configs"
It should support both stylintrc and config in package.json

We should also add `root: true` support to stop walking up in the tree

[2016-10-08 11:30] wojciechczerniak commented on #361
Nice 👍

[2016-10-08 11:42] wojciechczerniak commented on #269
You're right 👍

It's [wojciechczerniak](https://www.npmjs.com/~wojciechczerniak).

Exactly my view. Again #356 is essential here.

Thanks for creating issues and updating the list. Wow, you're fast.

[2016-10-08 11:43] SimenB opened #365 "Rename reporter to formatter"
More inline with eslint, csslint etc.

Reporter name comes from JSHint I think.

Maybe allow custom "reporter" as well. By default `console.log` but whatever can be plugged in. A formatter formats the default object.

[2016-10-08 11:54] SimenB commented on #269
Ok, added you as owner on npm as well. Please do start working on some things if you have the time 😄 If you'd be able to review my PR, that'd be a great help as well

[2016-10-08 12:10] SimenB commented on #354
IMO, we should copy the config format of eslint for rules. A name, and `error`, `warn` or `off`, or an array of the same, plus options.

Not necessarily because I think it looks good, but it's something people should be familiar with, and they probably use some module internally we could leverage. Alternatively extract, then leverage

[2016-10-08 12:42] #357 closed

[2016-10-08 12:55] wojciechczerniak commented on #354
While we wait I've got another question here. With #365 in mind, how should we structure `reporter` configuration?

[code]

for short (should we?):

[code]
If we want to change reporter from `console.log` can we still format with `json` ?

[code]
Well, default is default 🎉  and unnecessary here, but this will call require(name) as it does now?

Should options be flat or under `options` node?
[code

[2016-10-08 13:01] wojciechczerniak opened #366 "Rename reported error message properties"
Instead of `lineNo` we could use `line` and instead of `col` use `column`. I won't say that we should copy ESLint in everything but it's how they named them 😄 We can name them `lineNo` and `columnNo`/`colNo` but be consistent.

[2016-10-08 13:08] SimenB commented on #354
Let's just go `formatter` for now, and keep reporter out of it. If people don't want it to stdout, I'm thinking we wait for the feature request. I don't see the use case for it, personally.

So then you have `"formatter": "custom-formatter"` being shorthand for `"formatter": {"name": "custom-formatter"}`, and just chuck config in there.

If it's called `default`, just special case it?

[2016-10-08 13:24] SimenB commented on #366
I totally agree. I was just about to create an issue about the structure of the object passed to reporters.

We should copy this: http://eslint.org/docs/developer-guide/nodejs-api#executeonfiles

[2016-10-08 22:35] SimenB commented on #366
I've started on this: https://github.com/SimenB/stylint/tree/restructur-message-obj

Going OK; currently making the transformation in `done`. Have to write tests for it, plus update tests for `reporter`. But the implementations should be done

[2016-10-09 05:03] awayken commented on #269
Honestly, @SimenB, I haven't used Stylus or Stylint for ages. We've since moved our styling to other technologies. At this point, I don't see myself having the motivation or time to contribute to the project. Sorry!

[2016-10-09 06:50] SimenB commented on #269
No problem 😄 I'll just remove you as collaborator then

[2016-10-09 09:54] SimenB commented on #266
This should be solved by the rules themselves. Either call some sort of `report` function multiple times, or return an array.
Eslint uses a method called x amount of times.

@wojciechczerniak Any preference on which method we do this?

[2016-10-09 10:04] SimenB commented on #269
@wojciechczerniak Updated the readme, does it look OK to you?

https://github.com/SimenB/stylint/compare/993b5d05189fd0ed229ad0b2a3e047f49a843227...ac54e7bfead1685bd7ad854b1a37c22f99f70984

[2016-10-09 16:25] SimenB opened #370 "Drop maxErrors"
Always fail if any errors.

Keep around maxWarnings, so that if people want to lint something, but not necessarily fix it, just set it as `warning` instead.

Thoughts?

[2016-10-09 16:26] SimenB opened #371 "Make `quiet` just hide warnings"
Not stop console output.

It seems to be there just for testing purposes now. Should just mock out `console.log` if it's a big deal.

This would mirror eslint.

[2016-10-09 16:37] SimenB commented on #342
@rossPatton how did you generate the html docs?

[2016-10-09 18:02] wojciechczerniak commented on #269
@SimenB Very nice summary of all the goals we should aim for 👌

[2016-10-09 18:04] #358 closed

[2016-10-09 18:12] wojciechczerniak commented on #266
I agree. Only rule will know if its violations can occur multiple times within a line. Trying to do it outside wouldn't be as elegant solution (separation) and had a performance impact running double checks where it's not necessary.

In #356 we wanted to cleanup inner calls to reporter function and return an object with violation. Maybe this should be an array of objects? Or only an array if multi

[2016-10-09 18:19] SimenB commented on #266
Whether the rules return an object/array of objects or invoke a callback doesn't really matter to me (single object made into array is as easy as `messages = Array.isArray(messages) ? messages : [messages];`)

It will have to be sync anyways, so maybe `return` is clearer? On the other hand, that means the rules must manage som internal state in order to return everything, instead of just invoking

[2016-10-09 18:27] wojciechczerniak commented on #370
Error is an error, you're right here. Should fail with correct status code if any. This way setting rules as `error` or `warning` would make sense, warnings may pass test. MaxWarnings reached can be an error too. Let's say we don't want to put build on hold with one or two minor mistakes but never allow to go this way too far and fix them asap. Valid use case?

BTW. I've always considered `maxErro

[2016-10-09 18:29] SimenB commented on #370
We can just print the first 50, and say how many other there are, like flow does?
That's orthogonal to this issue though 😄  Could you open a new issue? I'll add this to the project, feel free to implement it!

[2016-10-09 18:31] SimenB opened #372 "Disable all rules by default"
And support a recommended/preset config.

This would match eslint

[2016-10-09 19:07] wojciechczerniak commented on #266
We can avoid keeping state within smaller rules if they can report every time they encounter violation, but can we with more complicated checks?

There is one rule `duplicates` which even had own properties on global state. This breaks separation between rules and core. It's a choice between "state in rule" or "rule in core" then?

I also don't see much difference between those two. More how we se

[2016-10-09 19:19] SimenB commented on #266
My thoughts: If we go for callbacks, we don't care if the rule returns or not.
Again, the rules HAVE to report synchronously anyways (this is to better support programmatic usage, even IO should be synchronous), so the callbacks won't be async.

If a rule is advanced (like `duplicates`), then it can have that state sure, didn't think of that use case. But rules shouldn't have to keep state concern

[2016-10-09 19:22] SimenB opened #373 "Use ava for tests"
I much prefer ava over mocha, regardless of assertion library used with mocha.

Unless @wojciechczerniak objects, I'll refactor after we whip the tests into shape (#351). Not a blocker for 2.0 of any kind, nor a priority. But something I want to do

[2016-10-09 19:24] SimenB opened #374 "Update linting rules"
I'm not a fan of the spaces within function calls, nor missing semis. There are also a bunch of other rules I'd like to activate.

I have a personal config (a few changes on top of airbnb), I'm thinking of just using that (https://github.com/SimenB/eslint-config-simenb/tree/master/packages/eslint-config-simenb-base).

@wojciechczerniak if you disagree with the rules, I'm open for just going with p

[2016-10-09 19:27] SimenB commented on #335
Good idea! Will get to it after 2.0 is released 😄

[2016-10-09 19:28] SimenB commented on #336
@danijeld Closing this, please ping me if you still have an issue with this.

[2016-10-09 19:28] #336 closed

[2016-10-09 19:30] SimenB commented on #331
Related to #372

[2016-10-09 19:31] SimenB commented on #313
@Kamilius I can't reproduce this, could you create a repro repo if this is still an issue?

[2016-10-09 19:33] SimenB commented on #266
A part of this issue should be to identify _which_ rules potentially should report multiple times. Not necessarily make them report multiple times, but at least create the list so we can check of items as they get fixed.

[2016-10-09 19:46] rossPatton commented on #269
man, you guys are really cranking. this all looks great! i should have turned it over a long time ago

[2016-10-09 20:02] wojciechczerniak commented on #374
Not a fan of missing semis either. But I can work with anything as long as files are consistent.

Rules look ok for me.

[2016-10-09 20:03] wojciechczerniak commented on #373
Cool. I'm always open to learn something new 😉

[2016-10-09 20:11] rossPatton commented on #342
i used [jsdoc](http://usejsdoc.org/about-getting-started.html)

[2016-10-09 20:12] SimenB commented on #373
As we use `assert` already, the assertions themselves won't be _too_ different (`t.true(something.deep === 'five'))` instead of `assert.equal(something.deep, 'five')`. Diff is that we won't have nested `describe`s, and we have to be careful about state (as ava executes in parallel)

[2016-10-09 20:13] SimenB commented on #361
I'll get this done after current PRs are merged to avoid too many conflicts

[2016-10-09 20:14] rossPatton commented on #374
change whatever, but just fyi, semis are in fact totally unnecessary since javascript has automatic semicolon insertion

i do realize i'm in the minority on that opinion though

[2016-10-09 20:15] SimenB commented on #374
I know, it's my Java background that taints me 😆

[2016-10-09 20:20] SimenB commented on #342
Ah! Didn't even know they had a package...

https://github.com/SimenB/stylint/commit/7e9af52f736271c956a7a2ac0dc841789e41b373

[2016-10-09 20:24] #366 closed

[2016-10-09 21:27] SimenB opened #375 "Docs"
Have to go through the docs before we release 2.0. I'm not bothering with it for now (don't want to slow down the code being cranked out)

[2016-10-09 21:35] SimenB opened #376 "Git tag old releases"
To fill out https://github.com/SimenB/stylint/releases

[2016-10-09 21:37] SimenB opened #377 "Make changelog conform to keepachangelog.com"
Nicer and easier to see changes
http://keepachangelog.com/en/0.3.0/

This will allow us to automatically copy it over into https://github.com/SimenB/stylint/releases as well

[2016-10-10 15:41] SimenB commented on #337
We already do this. `mixin` is currently used for this purpose, but `customProperties` (which is an alias) might be more semantically suited.

Is there some API which would make more sense? If you ask us to validate custom elements, you have to tell us which actually _are_ valid.

Please ping me if I'm missing something

[2016-10-10 16:23] eddiemonge commented on #337
It'd be nice if it accepted a prefix like `ng-` or `md-`

[2016-10-10 16:27] SimenB commented on #337
`customPropertyPrefixes`?

[2016-10-10 17:02] wojciechczerniak commented on #337
More like a wildcard described in #239. Probably a duplicate.

[2016-10-10 17:06] SimenB commented on #337
Wildcard as part of `customProperties`, or its own option?

[2016-10-10 17:32] wojciechczerniak commented on #337
A part of. Can be an option for `customProperties` if easier to implement or has negative performance impact if applied for every item in array but for me it looks like a config for this rule.

There is a one side effect:

⚠️ We won't be able to tell if `ng-width` or `ng-widht` is valid or typo.

We should encourage taking the time and carefully listing them all.

[2016-10-10 17:41] SimenB commented on #337
Ok, I'm fine with that.

How do we check what's considered regexes and what's string literals, though? Just chucking it in `new RegExp` won't work if you want `my-thing` to be valid, but `my-thingyling` not to be.

`/my-thing/.test('my-thingyling')` => `true`

[2016-10-10 17:46] SimenB commented on #337
But `custom-properties: ['error', { exactMatches: ['my-thing'], regexMatches: ['^ng-*'] }]` might work though. Thoughts?

[2016-10-10 17:55] #361 closed

[2016-10-10 18:23] SimenB commented on #374
@wojciechczerniak I'll do this now, gonna be big changes 😆

[2016-10-10 19:01] Arcanemagus opened #378 "Support inputting contents via stdin"
It would be great for integrating the results of this tool into other programs (such as the [`linter-stylint`](https://github.com/AtomLinter/linter-stylint) Atom package) if `stylint` supported input via `stdin`.

When adding this a method of specifying a filename to associate with the `stdin` contents should probably be added as well, in other linters this is usually accomplished with a parameter

[2016-10-10 19:19] SimenB commented on #378
Definitely want this!
It might be cleaner for you to use the programmatic `lintString` API yes, but I still want you to be able to `cat` a file and pipe it into styllint (which internally could just call `lintString`) 😄
Having `--stdin-filename` as well sounds like a good idea.

It would be great if you could provide a PR for this, otherwise it might be a while before we get to it, unless @wojciec

[2016-10-10 21:15] Arcanemagus commented on #378
Sorry, what time I have to spare is put into keeping the packages in the AtomLinter org running so I can't really commit to implementing this.

As to why that package isn't using the Node.js API in the first place I have no idea, you'd have to ask the original author for that 😛.

[2016-10-10 22:07] SimenB commented on #378
Fair enough!

[2016-10-10 22:12] SimenB commented on #374
Done...

https://github.com/SimenB/stylint/compare/0a078154e87a0548cba139388b9ec16722c84410...26f146b73f08a7af34fba86304f2663cff423da3

[2016-10-10 22:12] #374 closed

[2016-10-10 22:29] SimenB opened #380 "Normalize report messages"
Try to mirror ESLint?

`Unexpected x encountered` etc.

Doesn't really matter how we formulate stuff, as long as all messages makes sense, and they are consistent

[2016-10-10 22:30] SimenB commented on #378
Just a quick heads up that eslint requires `stdin` option to parse from stdin

[2016-10-10 23:58] eddiemonge commented on #337
Thats fine since you could do the same thing with classes and this wouldn't catch it. It shouldn't care about property names anyway

[2016-10-11 07:34] SimenB commented on #354
DIdn't receive any response on Gitter, tried opening an issue: eslint/eslint#7339. Hopefully they are positive towards it!

[2016-10-11 09:14] karl-run opened #381 "stylint only lints a single folder when multiple are provided"
When `stylint` is executed with multiple paths provided, e.g. `stylint folder-one/ folder-two/` it will only lint one of them, usually not the first one (haven't found any pattern to which it will pick).
### Steps to reproduce
1. Pull https://github.com/hermith/stylint-repro-karlos
2. run `npm i`
3. run `npm run lint-dank`
4. run `npm run lint-cool`
5. Notice the errors in the two previous steps
6

[2016-10-11 09:19] SimenB commented on #381
Will get to this tonight

[2016-10-11 09:36] SimenB opened #382 "Sprinkle debug statements throughout the code"
Would greatly help in understanding what goes on.

Especially in the config loading and file reading

[2016-10-11 16:23] evilebottnawi opened #383 "Union with `stylelint`"
@SimenB
Ref: https://github.com/stylelint/stylelint

Our good linter based on `postcss`.
This is only discussion
Can we join forces and create something truly powerful?

[2016-10-11 16:25] SimenB commented on #383
I'd love to do that, but postcss would have to support stylus, which it does not.

Related to #303

[2016-10-11 16:51] evilebottnawi commented on #383
@SimenB we can write own postcss parser as https://github.com/postcss/postcss-scss, https://github.com/webschik/postcss-less and use this in stylint.

[2016-10-11 17:16] SimenB commented on #383
Sure, I'd love to have it. I'm not gonna spend time on it (yet), but I'd be happy to review/assist someone if they took the plunge.

postcss/postcss#602

[2016-10-11 18:16] SimenB commented on #381
Digging into this, I think the problem is that we try to recurse through dirs, and start linting files as we find them. This means `this.state.file` etc gets overwritten all over the place.

The solution I think is to get a list of every file we should lint, before we loop through and actually parse them.
And if that doesn't solve the problem, it'd at least make things easier to debug.
I have a wo

[2016-10-12 18:48] SimenB commented on #266
I'm gonna remove this from the 2.0 effort, to minimize the wait for it.

Isn't really breaking when it's fixed either, IMO

[2016-10-13 18:28] jkrems opened #385 "End of hash (`}`) force-enables linting"
Example:

[code]

I think this is caused by the following code:

[code]

It looks like it doesn't handle nesting (more interesting example would be nested media queries).

[2016-10-14 06:15] SimenB commented on #385
@jkrems Thanks for the issue!

We're currently working on 2.0, and won't get to bugs before after that's done, unless you're able to provide a PR for this yourself.

Will fix as soon as possible (along with other bug reports), as soon as possible after release of 2.0 😄

See the [project](https://github.com/SimenB/stylint/projects/1) for progress on it

[2016-10-14 06:18] SimenB opened #386 "ESLint redesign of report object"
Passing the whole source code of file, to allow reporters to show context.

I think we should align to this before 2.0.

See https://github.com/eslint/eslint/issues/7098#issuecomment-251242459

[2016-11-01 14:04] Gwenouille opened #387 "Trouble specifying the emplacement of a stylintrc config file"
Hi there !

My name is Gwen Le Page. I am quite new to the world of coding, and I was playing with Stylus lately, to get a feeling of different pre-processos for CSS.
I use Atom and have the Linter-Stylint installed.

Now, the linter works fine with the default config file, but I wanted to configure it a little bit, for example making colons mandatory.
I want that setting to be available in all my